/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong {
  font-weight: bold;
}
a {
  text-decoration: none;
}
.inline {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
[v-cloak] {
  display: none;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.faixa-usuario {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 35px;
  font-size: 0;
}
.faixa-usuario .btn {
  background-color: #F49228;
  color: #fff;
}
.faixa-usuario .btn:active,
.faixa-usuario .btn:visited {
  color: #fff;
}
.faixa-usuario .btn.active,
.faixa-usuario .btn:hover {
  color: #593258;
}
.faixa-usuario .nome {
  color: #fff;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: normal;
  height: 35px;
  line-height: 35px;
  float: right;
  padding: 0 20px;
  text-transform: uppercase;
}
@media (min-width: 0px) and (max-width: 789px) {
  .faixa-usuario .nome {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 70%;
    float: left;
    box-sizing: border-box;
  }
}
.faixa-usuario .btn {
  font-family: 'Asap', sans-serif;
  font-size: 15px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  float: right;
  transition: all 0.3s ease-out;
  padding: 0 10px;
}
@media (min-width: 0px) and (max-width: 789px) {
  .faixa-usuario .btn {
    max-width: 20%;
    box-sizing: border-box;
  }
}
.faixa-usuario .btn.btn-usuarios {
  border-left: 1px #593258 solid;
}
@media (min-width: 0px) and (max-width: 789px) {
  .faixa-usuario {
    background: #593258;
    position: relative;
  }
}
header .banner img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
nav {
  background: #F49228;
  border-bottom: 1px #593258 solid;
}
nav ul {
  font-size: 0;
}
nav ul li {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
@media (min-width: 0px) and (max-width: 789px) {
  nav ul li {
    width: 100%;
  }
}
nav ul li a {
  height: 40px;
  line-height: 40px;
  padding: 0 46px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  font-family: 'Asap', sans-serif;
  display: block;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  background: #F49228;
  border-left: 1px #593258 solid;
}
nav ul li a:active,
nav ul li a:visited {
  color: #fff;
}
nav ul li a:hover,
nav ul li a.ativo {
  background: #593258;
}
@media (min-width: 0px) and (max-width: 789px) {
  nav ul li a {
    border: none;
  }
}
nav ul li:last-child {
  border-right: 1px #593258 solid;
}
@media (min-width: 0px) and (max-width: 789px) {
  nav ul li:last-child {
    border: none;
  }
}
nav ul.menu-avaliador li {
  box-sizing: border-box;
  width: 25%;
}
nav ul.menu-avaliador li a {
  padding: 0;
}
@media (min-width: 0px) and (max-width: 789px) {
  nav ul.menu-avaliador li {
    width: 100%;
  }
}
nav ul.menu-admin li {
  box-sizing: border-box;
  width: 25%;
}
nav ul.menu-admin li a {
  padding: 8px 0;
  position: relative;
}
nav ul.menu-admin li a span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  line-height: 120%;
  transform: translateY(-50%);
}
@media (min-width: 0px) and (max-width: 789px) {
  nav ul.menu-admin li {
    width: 100%;
  }
  nav ul.menu-admin li a {
    height: auto;
    line-height: 120%;
  }
  nav ul.menu-admin li a span {
    position: relative;
    text-align: center;
    transform: none;
    top: auto;
    left: auto;
  }
}
.conteudo {
  padding: 60px 0;
}
footer {
  padding: 20px 0 30px 0;
  border-top: 2px #F49228 solid;
  font-size: 0;
}
footer .bloco-footer {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}
footer .bloco-footer.bloco-infomec {
  width: 20%;
}
footer .bloco-footer.bloco-disclaimer {
  width: 30%;
}
footer .bloco-footer.bloco-disclaimer p {
  padding-right: 32px;
  padding-top: 15px;
  font-size: 9px;
  color: #000;
}
footer .bloco-footer.bloco-novartis {
  padding-left: 20px;
  box-sizing: border-box;
}
footer .bloco-footer.bloco-novartis img {
  display: block;
  margin-bottom: 30px;
}
footer .bloco-footer.bloco-novartis p {
  color: #000;
  font-size: 10px;
}
footer img {
  display: block;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 789px) {
  footer .bloco-footer {
    width: 100%;
  }
  footer .bloco-footer.bloco-infomec,
  footer .bloco-footer.bloco-disclaimer {
    width: 100%;
  }
  footer .bloco-footer.bloco-infomec p,
  footer .bloco-footer.bloco-disclaimer p {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  footer .bloco-footer img {
    max-width: 60%;
    display: block;
    margin: 10px auto;
  }
  footer .bloco-footer.bloco-novartis {
    padding-left: 0;
  }
  footer .bloco-footer.bloco-novartis p {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 15px;
  }
  footer .bloco-footer.bloco-termos p {
    text-align: center;
  }
}
footer p {
  display: block;
  text-align: left;
  line-height: 150%;
  font-family: 'Asap', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
footer p a {
  color: #000;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
footer p a:active,
footer p a:visited {
  color: #000;
}
footer p a:hover {
  color: #593258;
}
.centralizar {
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  max-width: 1220px;
  padding: 0 10px;
}
.centralizar.com-colunas {
  font-size: 0;
}
.centralizar.reduzido {
  max-width: 850px;
}
@media (min-width: 0px) and (max-width: 789px) {
  .centralizar {
    max-width: 620px;
  }
}
@media (min-width: 790px) and (max-width: 1199px) {
  .centralizar {
    max-width: 920px;
  }
}
.centralizar .coluna {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  box-sizing: border-box;
}
.centralizar .coluna.coluna-50 {
  width: 50%;
}
@media (min-width: 0px) and (max-width: 789px) {
  .centralizar .coluna.coluna-50 {
    width: 100%;
  }
}
.centralizar .coluna.coluna-55 {
  width: 55%;
}
@media (min-width: 0px) and (max-width: 789px) {
  .centralizar .coluna.coluna-55 {
    width: 100%;
  }
}
.centralizar .coluna.coluna-45 {
  width: 45%;
}
@media (min-width: 0px) and (max-width: 789px) {
  .centralizar .coluna.coluna-45 {
    width: 100%;
  }
}
.centralizar .coluna.coluna-33 {
  width: 33%;
}
@media (min-width: 0px) and (max-width: 789px) {
  .centralizar .coluna.coluna-33 {
    width: 100%;
  }
}
.centralizar .coluna.coluna-25 {
  width: 25%;
}
@media (min-width: 0px) and (max-width: 789px) {
  .centralizar .coluna.coluna-25 {
    width: 50%;
  }
}
.centralizar .coluna.coluna-16 {
  width: 16.66%;
}
@media (min-width: 0px) and (max-width: 789px) {
  .centralizar .coluna.coluna-16 {
    width: 50%;
  }
}
.centralizar .coluna.coluna-37 {
  width: 37%;
}
@media (min-width: 0px) and (max-width: 789px) {
  .centralizar .coluna.coluna-37 {
    width: 100%;
  }
}
.centralizar .coluna.coluna-63 {
  width: 62%;
}
@media (min-width: 0px) and (max-width: 789px) {
  .centralizar .coluna.coluna-63 {
    width: 100%;
  }
}
.conteudo-login p {
  display: block;
  text-align: center;
  color: #593258;
  line-height: 140%;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.conteudo-login p strong {
  font-weight: bold;
}
.conteudo-login p.alerta {
  margin: 20px 0;
  padding: 15px;
}
.conteudo-login p.alerta.alerta-erro {
  background: #E55370;
  color: #fff;
}
.conteudo-login p.alerta.alerta-sucesso {
  background: #7CCAAF;
  color: #fff;
}
.conteudo-login .form-register,
.conteudo-login .form-login {
  padding: 90px 0 70px 0;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-login .form-register,
  .conteudo-login .form-login {
    padding: 40px 0;
  }
}
.conteudo-login .form-register form,
.conteudo-login .form-login form {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 500px;
  padding-bottom: 40px;
}
.conteudo-login .form-register form input,
.conteudo-login .form-login form input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #593258;
  background: #EDEBF0;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.conteudo-login .form-register form input[type="password"],
.conteudo-login .form-login form input[type="password"] {
  margin-top: 2px;
}
.conteudo-login .form-register form input[type="submit"],
.conteudo-login .form-login form input[type="submit"] {
  font-size: 18px;
  margin-top: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: #593258;
  color: #fff;
  height: 40px;
  line-height: 40px;
}
.conteudo-login .form-register form input[type="submit"]:hover,
.conteudo-login .form-login form input[type="submit"]:hover {
  background: #F49228;
}
.conteudo-login .form-register form.wide,
.conteudo-login .form-login form.wide {
  max-width: 100%;
}
.conteudo-login .form-register form.wide input[type="submit"],
.conteudo-login .form-login form.wide input[type="submit"] {
  margin: 25px  auto;
  display: block;
  width: auto;
  padding: 0 20px;
}
.conteudo-login .form-register form label,
.conteudo-login .form-login form label {
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #593258;
  line-height: 130%;
}
.conteudo-login .form-register form label a,
.conteudo-login .form-login form label a {
  color: #593258;
  font-weight: bold;
  transition: color 0.3s ease-in;
}
.conteudo-login .form-register form label a:active,
.conteudo-login .form-login form label a:active,
.conteudo-login .form-register form label a:visited,
.conteudo-login .form-login form label a:visited {
  color: #593258;
}
.conteudo-login .form-register form label a:hover,
.conteudo-login .form-login form label a:hover {
  color: #F49228;
}
.conteudo-login .form-register form label > input,
.conteudo-login .form-login form label > input {
  width: 20px;
  display: inline-block;
  vertical-align: -12px;
}
.conteudo-login .form-register form label > input:focus,
.conteudo-login .form-login form label > input:focus {
  outline: none;
}
.conteudo-login .form-register a.recuperar-senha,
.conteudo-login .form-login a.recuperar-senha {
  font-family: 'Asap', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #593258;
  transition: all 0.3s ease-in-out;
}
.conteudo-login .form-register a.recuperar-senha:active,
.conteudo-login .form-login a.recuperar-senha:active,
.conteudo-login .form-register a.recuperar-senha:visited,
.conteudo-login .form-login a.recuperar-senha:visited {
  color: #593258;
}
.conteudo-login .form-register a.recuperar-senha:hover,
.conteudo-login .form-login a.recuperar-senha:hover {
  color: #F49228;
}
.conteudo-login .form-register {
  padding: 40px 0 280px 0;
}
.conteudo-login .form-register form {
  margin-top: 20px;
}
.conteudo-home {
  text-align: center;
}
.conteudo-home .box-home p {
  color: #593258;
  font-family: 'Asap', sans-serif;
  font-size: 18px;
  font-weight: normal;
  width: 100%;
  display: block;
  margin: 0 auto 20px auto;
  max-width: 680px;
  line-height: 180%;
}
.conteudo-home .box-home .link-bula {
  display: inline-block;
  margin: 30px auto 0 auto;
  border: 1px #967E96 solid;
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
  color: #F49228;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: normal;
  transition: all 0.3s ease-in;
}
.conteudo-home .box-home .link-bula:hover {
  background: #593258;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-home .box-home .link-bula {
    height: auto;
    padding: 20px 0;
    width: 100%;
    line-height: 100%;
  }
}
.conteudo-regulamento {
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #593258;
}
.conteudo-regulamento .centralizar {
  max-width: 800px;
}
.conteudo-regulamento h2 {
  font-weight: bold;
  display: block;
  margin: 10px 0 25px 0;
}
.conteudo-regulamento h3 {
  font-weight: bold;
}
.conteudo-regulamento p {
  line-height: 150%;
  margin: 20px 0;
}
.conteudo-regulamento strong {
  font-weight: bold;
}
.conteudo-regulamento .sublinhado {
  text-decoration: underline;
}
.conteudo-regulamento .box {
  margin: 15px 0;
  padding: 0 15px;
  border: 1px #593258 solid;
}
.conteudo-regulamento .link-voltar {
  display: block;
  padding: 0 0 15px 0;
  border-bottom: 1px #967E96 solid;
  margin-bottom: 15px;
}
.conteudo-regulamento a {
  text-decoration: underline;
  color: #080F5D;
  transition: color 0.3s ease-in-out;
}
.conteudo-regulamento a:active,
.conteudo-regulamento a:visited {
  color: #080F5D;
}
.conteudo-regulamento a:hover {
  color: #277F8D;
}
.conteudo-regulamento i {
  font-style: italic;
}
.conteudo-regulamento ul {
  list-style-type: disc;
}
.conteudo-regulamento ol {
  list-style-type: decimal;
}
.conteudo-regulamento ul,
.conteudo-regulamento ol {
  line-height: 150%;
  margin: 20px 0;
  list-style-position: inside;
}
.conteudo-regulamento ul li,
.conteudo-regulamento ol li {
  margin: 10px 0;
}
.conteudo-regulamento ul li ul,
.conteudo-regulamento ol li ul {
  padding-left: 30px;
}
.conteudo-cronograma h1 {
  color: #593258;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: bold;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-cronograma h1 {
    font-size: 28px;
  }
}
.conteudo-cronograma img {
  display: block;
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-cronograma img {
    margin: 30px auto;
    max-width: 30%;
  }
}
.conteudo-cronograma .lista-cronograma li {
  padding: 17px 0 17px 240px;
  position: relative;
}
.conteudo-cronograma .lista-cronograma li strong {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #F49228;
  display: block;
  line-height: 130%;
}
.conteudo-cronograma .lista-cronograma li span {
  font-family: 'Asap', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #593258;
  display: block;
  line-height: 130%;
  margin-top: 5px;
}
.conteudo-cronograma .lista-cronograma li.ativo {
  background: #F49228;
}
.conteudo-cronograma .lista-cronograma li.ativo strong {
  color: #fff;
}
.conteudo-cronograma .lista-cronograma li.ativo span {
  color: #fff;
}
.conteudo-cronograma .lista-cronograma li.ativo:before {
  content: "FASE ATUAL";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: #F49228;
  background: #593258;
  line-height: 93px;
  width: 170px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.conteudo-cronograma .lista-cronograma li.ativo:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 170px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 14px;
  border-color: transparent transparent transparent #593258;
  transform: translateY(-50%);
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-cronograma .lista-cronograma li {
    padding: 17px 0 17px 120px;
  }
  .conteudo-cronograma .lista-cronograma li.ativo:before {
    box-sizing: border-box;
    padding-top: 35px;
    font-size: 12px;
    width: 90px;
    line-height: 100%;
  }
  .conteudo-cronograma .lista-cronograma li.ativo:after {
    left: 90px;
  }
}
.conteudo-avaliadores h1 {
  color: #593258;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: normal;
  font-weight: bold;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-avaliadores h1 {
    font-size: 28px;
  }
}
.conteudo-avaliadores img {
  display: block;
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-avaliadores img {
    margin: 30px auto;
  }
}
.conteudo-avaliadores .lista-avaliadores {
  padding-left: 100px;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-avaliadores .lista-avaliadores {
    padding-left: 0px;
  }
}
.conteudo-avaliadores .lista-avaliadores h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #593258;
  display: block;
}
.conteudo-avaliadores .lista-avaliadores h4 {
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #593258;
  display: block;
}
.conteudo-avaliadores .lista-avaliadores p {
  line-height: 140%;
  font-family: 'Asap', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #593258;
  display: block;
  margin: 10px 0 30px 0;
}
.mini-bula {
  padding-top: 30px;
  border-top: 1px #593258 solid;
  max-width: 60%;
  margin: 30px auto 0 auto;
}
.mini-bula h3 {
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #593258;
  font-weight: bold;
}
.mini-bula p {
  font-size: 14px;
}
.conteudo-como-funciona .como-funciona-item {
  padding: 40px 0;
  border-top: 2px #F49228 solid;
}
.conteudo-como-funciona .como-funciona-item:first-child {
  border-top: none;
}
.conteudo-como-funciona .como-funciona-item h1 {
  color: #593258;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: normal;
  font-weight: bold;
  position: relative;
  display: block;
  line-height: 130%;
}
.conteudo-como-funciona .como-funciona-item h1 span {
  position: relative;
}
.conteudo-como-funciona .como-funciona-item h1 span:after {
  position: absolute;
  left: 100%;
  bottom: 10px;
  content: "";
  display: block;
  width: 74px;
  height: 121px;
  background: url('/images/oquee.png') left bottom no-repeat;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-como-funciona .como-funciona-item h1 {
    font-size: 30px;
  }
}
.conteudo-como-funciona .como-funciona-item img {
  display: block;
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-como-funciona .como-funciona-item img {
    margin: 30px auto;
    max-width: 30%;
  }
}
.conteudo-como-funciona .como-funciona-item h2 {
  color: #F49228;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.conteudo-como-funciona .como-funciona-item h3 {
  margin: 10px 0;
  color: #593258;
  font-family: 'Asap', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.conteudo-como-funciona .como-funciona-item p {
  line-height: 140%;
  font-family: 'Asap', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #593258;
  display: block;
  margin: 10px 0 30px 0;
}
.conteudo-como-funciona .como-funciona-item p strong {
  font-weight: bold;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-como-funciona .como-funciona-item p {
    margin: 10px 0;
  }
}
.conteudo-como-funciona .como-funciona-item h2,
.conteudo-como-funciona .como-funciona-item h3,
.conteudo-como-funciona .como-funciona-item p,
.conteudo-como-funciona .como-funciona-item ul {
  padding-left: 70px;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-como-funciona .como-funciona-item h2,
  .conteudo-como-funciona .como-funciona-item h3,
  .conteudo-como-funciona .como-funciona-item p,
  .conteudo-como-funciona .como-funciona-item ul {
    padding-left: 0px;
  }
}
.conteudo-como-funciona .como-funciona-item .lista-cronograma li {
  padding: 17px 0;
  position: relative;
}
.conteudo-como-funciona .como-funciona-item .lista-cronograma li strong {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #F49228;
  display: block;
  line-height: 130%;
}
.conteudo-como-funciona .como-funciona-item .lista-cronograma li span {
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #593258;
  display: block;
  line-height: 130%;
  margin-top: 5px;
}
.conteudo-como-funciona a {
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  height: 145px;
  line-height: 145px;
  display: block;
  margin: 30px 0;
  background: #F49228;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease-in;
}
.conteudo-como-funciona a:active,
.conteudo-como-funciona a:visited {
  color: #fff;
}
.conteudo-como-funciona a:hover {
  background: #593258;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-como-funciona a {
    height: auto;
    line-height: 140%;
    padding: 30px 10px;
  }
}
body {
  position: relative;
}
body .modal {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 997;
}
body .modal .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 998;
}
body .modal .modal-conteudo {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  position: relative;
  z-index: 999;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}
.conteudo-submeter-caso {
  text-align: center;
  min-height: 400px;
}
.conteudo-submeter-caso p {
  color: #593258;
  line-height: 150%;
  max-width: 670px;
  margin: 0 auto;
  display: block;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.conteudo-submeter-caso p strong {
  font-weight: bold;
}
.conteudo-submeter-caso p.small {
  font-size: 14px;
}
.conteudo-submeter-caso p a {
  color: #593258;
  font-weight: bold;
  transition: all 0.3s ease-in;
}
.conteudo-submeter-caso p a:active,
.conteudo-submeter-caso p a:visited {
  color: #593258;
}
.conteudo-submeter-caso p a:hover {
  color: #F49228;
}
.conteudo-submeter-caso a.download-link {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  margin: 40px 0 30px 0;
  padding: 0 50px;
  border: 1px #593258 solid;
  text-align: center;
  line-height: 60px;
  background: #fff;
  color: #F49228;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.conteudo-submeter-caso a.download-link span {
  height: 39px;
  padding: 8px 15px 13px 0;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
.conteudo-submeter-caso a.download-link:hover {
  background: #593258;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-submeter-caso a.download-link {
    padding: 0;
    display: block;
  }
}
.botoes-envio {
  font-size: 0;
  padding: 20px 0 60px 0;
}
.botoes-envio .box {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 33%;
}
.botoes-envio .box:last-child {
  margin-left: 66%;
  margin-top: 67px;
  position: relative;
}
.botoes-envio .box:last-child a {
  height: 190px;
}
.botoes-envio .box:last-child.inativo.reduzido a {
  height: 120px;
}
@media (max-width: 1200px) {
  .botoes-envio .box:last-child {
    margin-left: 0;
  }
  .botoes-envio .box:last-child a {
    height: auto;
  }
  .botoes-envio .box:last-child.inativo.reduzido a {
    height: auto;
  }
}
@media (min-width: 790px) and (max-width: 1200px) {
  .botoes-envio .box:last-child {
    margin-left: 66%;
  }
}
.botoes-envio .box:last-child:before {
  position: absolute;
  content: "OU";
  color: #F49228;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  bottom: 105%;
  left: 0;
}
@media (min-width: 0px) and (max-width: 789px) {
  .botoes-envio .box {
    width: 100%;
    margin-bottom: 3px;
  }
}
.botoes-envio .box.inativo a {
  background: #EDEBF0;
  cursor: default;
}
.botoes-envio .box a {
  border: 1px #593258 solid;
  display: block;
  padding: 30px;
  background: #fff;
  transition: background 0.3s ease-in-out;
  height: 230px;
}
@media (max-width: 1200px) {
  .botoes-envio .box a {
    height: auto;
  }
}
.botoes-envio .box a h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #F49228;
}
.botoes-envio .box a h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #593258;
  margin: 10px 0;
}
.botoes-envio .box a p {
  margin: 10px 0 20px 0;
  line-height: 140%;
  color: #593258;
  font-family: 'Asap', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 0 25px;
}
.botoes-envio .box a .botao {
  padding-top: 15px;
  border-top: 1px #593258 solid;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.botoes-envio .box a .botao span {
  font-weight: normal;
  color: #F49228;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  vertical-align: middle;
}
.botoes-envio .box a .botao span img {
  margin-right: 10px;
}
.botoes-envio .box a:hover {
  background: #EDEBF0;
}
.botoes-envio .box:first-child a,
.botoes-envio .box:nth-child(2) a {
  border-right: none;
}
@media (min-width: 0px) and (max-width: 789px) {
  .botoes-envio .box:first-child a,
  .botoes-envio .box:nth-child(2) a {
    border-right: 1px #277F8D solid;
  }
}
.formCaso {
  background: #fff;
  padding: 45px 70px;
  max-width: 740px;
  width: 100%;
  box-sizing: border-box;
  color: #277F8D;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
@media (min-width: 0px) and (max-width: 789px) {
  .formCaso {
    padding: 15px 5px;
  }
}
.formCaso h2 {
  text-align: center;
  color: #593258;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.formCaso h2 span {
  color: #F49228;
}
.formCaso .input-arquivo {
  height: 40px;
  line-height: 40px;
  border: 1px #593258 solid;
  margin-bottom: 10px;
  position: relative;
}
.formCaso .input-arquivo label {
  position: absolute;
  z-index: 4;
  width: 100%;
  background: #fff;
  cursor: pointer;
}
.formCaso .input-arquivo label .placeholder {
  padding-left: 15px;
  max-width: 60%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  color: #593258;
}
@media (min-width: 0px) and (max-width: 789px) {
  .formCaso .input-arquivo label .placeholder {
    max-width: 30%;
  }
}
.formCaso .input-arquivo label .botao {
  float: right;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #593258;
  border-left: 1px #277F8D solid;
  font-weight: bold;
  padding: 0 15px;
  transition: all 0.3s ease-in-out;
}
.formCaso .input-arquivo label:hover .botao {
  background: #F49228;
}
.formCaso .input-arquivo input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.formCaso p {
  color: #593258;
  font-family: 'Asap', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 130%;
  margin: 10px 0;
}
.formCaso input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  display: block;
  height: 40px;
  line-height: 40px;
  border: 1px #593258 solid;
  margin-bottom: 10px;
  padding: 0 15px;
  color: #593258;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.formCaso input[type="text"]::-webkit-input-placeholder {
  color: #757876;
}
.formCaso input[type="text"]:-moz-placeholder {
  color: #757876;
}
.formCaso input[type="text"]::-moz-placeholder {
  color: #757876;
}
.formCaso input[type="text"]:-ms-input-placeholder {
  color: #757876;
}
.formCaso label.terms {
  color: #593258;
  display: block;
  margin-bottom: 10px;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  width: 100%;
  box-sizing: border-box;
}
.formCaso input[type="submit"] {
  cursor: pointer;
  border: 1px #593258 solid;
  height: 60px;
  line-height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease-in-out;
  background: #F49228;
  width: 100%;
}
.formCaso input[type="submit"]:hover {
  color: #fff;
  background: #593258;
}
.alerta {
  display: block;
  text-align: center;
  line-height: 140%;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 20px 0;
  padding: 15px;
}
.alerta.alerta-erro {
  background: #E55370;
  color: #fff;
}
.alerta.alerta-sucesso {
  background: #7CCAAF;
  color: #fff;
}
.conteudo-admin a.botao-padrao {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  padding: 10px 20px;
  border: 1px #F49228 solid;
  font-family: 'Asap', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background: #F49228;
  transition: all 0.3s ease-in;
  margin: 14px 0;
}
.conteudo-admin a.botao-padrao:active,
.conteudo-admin a.botao-padrao:visited {
  color: #fff;
}
.conteudo-admin a.botao-padrao:hover {
  color: #593258;
}
.conteudo-admin .link-area-usuario {
  float: right;
  color: #F49228;
  font-family: 'Asap', sans-serif;
  font-size: 13px;
  font-weight: normal;
}
.conteudo-admin .link-area-usuario:active,
.conteudo-admin .link-area-usuario:visited {
  color: #F49228;
}
.conteudo-admin .link-area-usuario:hover {
  color: #593258;
}
.conteudo-admin ul.padrao {
  border-bottom: 1px #277F8D solid;
}
.conteudo-admin ul.padrao li {
  background: #fff;
  color: #277F8D;
  padding: 6px 0 6px 3px;
  border-top: 1px #277F8D solid;
  font-family: 'Asap', sans-serif;
  font-size: 15px;
  font-weight: normal;
  display: block;
}
.conteudo-admin ul.padrao li.erro {
  color: #E55370;
}
.conteudo-admin h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #F49228;
  text-align: center;
  line-height: 40px;
  margin-bottom: 30px;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-admin h2 {
    line-height: 160%;
  }
  .conteudo-admin h2 span {
    padding: 0 15px;
  }
}
.conteudo-admin p.header {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 150%;
  border-left: 1px #F49228 solid;
  border-right: 1px #F49228 solid;
  border-top: 1px #F49228 solid;
  background: #593258;
  width: 45%;
}
.conteudo-admin p.header span {
  color: #F49228;
  font-size: 16px;
  font-weight: bold;
  padding: 0 20px 0 10px;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-admin p.header {
    width: 100%;
  }
}
.conteudo-admin p.destaque {
  color: #593258;
  font-family: 'Asap', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 150%;
  text-align: center;
  margin: 30px 0 100px 0;
  font-size: 18px;
}
.conteudo-admin .lista-coordenadores {
  margin-top: 50px;
}
.conteudo-admin .lista-avaliacoes {
  margin-top: 80px;
}
.conteudo-admin .lista-ranking {
  margin-top: 35px;
  width: 100%;
  counter-reset: ranking;
  position: relative;
}
.conteudo-admin .lista-ranking .linha {
  width: 100%;
}
@media (min-width: 1200px) {
  .conteudo-admin .lista-ranking .linha {
    -ms-flex-align: stretch;
        align-items: stretch;
    display: -ms-flexbox;
    display: flex;
  }
}
.conteudo-admin .lista-ranking:after {
  content: attr(data-label);
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #F49228;
  position: absolute;
  top: 0;
  left: 20px;
  transform: translateY(-170%);
}
.conteudo-admin .linha-loader {
  height: 50px;
  margin: 15px 0;
  text-align: center;
  background: url('/images/loader.svg') center center no-repeat;
}
.conteudo-admin .lista-coordenadores,
.conteudo-admin .lista-casos,
.conteudo-admin .lista-avaliacoes,
.conteudo-admin .lista-ranking {
  margin-bottom: 40px;
}
.conteudo-admin .lista-coordenadores .linha,
.conteudo-admin .lista-casos .linha,
.conteudo-admin .lista-avaliacoes .linha,
.conteudo-admin .lista-ranking .linha {
  background: #fff;
  font-size: 0;
  min-height: 60px;
  border: 1px #F49228 solid;
  border-bottom: none;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-admin .lista-coordenadores .linha,
  .conteudo-admin .lista-casos .linha,
  .conteudo-admin .lista-avaliacoes .linha,
  .conteudo-admin .lista-ranking .linha {
    min-height: 30px;
    margin-bottom: 5px;
    border-bottom: 1px #F49228 solid;
  }
}
.conteudo-admin .lista-coordenadores .linha:last-child,
.conteudo-admin .lista-casos .linha:last-child,
.conteudo-admin .lista-avaliacoes .linha:last-child,
.conteudo-admin .lista-ranking .linha:last-child {
  border-bottom: 1px #F49228 solid;
}
.conteudo-admin .lista-coordenadores .linha.com-titulo:first-child,
.conteudo-admin .lista-casos .linha.com-titulo:first-child,
.conteudo-admin .lista-avaliacoes .linha.com-titulo:first-child,
.conteudo-admin .lista-ranking .linha.com-titulo:first-child {
  position: relative;
}
.conteudo-admin .lista-coordenadores .linha.com-titulo:first-child:after,
.conteudo-admin .lista-casos .linha.com-titulo:first-child:after,
.conteudo-admin .lista-avaliacoes .linha.com-titulo:first-child:after,
.conteudo-admin .lista-ranking .linha.com-titulo:first-child:after {
  content: attr(data-label);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  background: #593258;
  color: #F49228;
  position: absolute;
  border: 1px #F49228 solid;
  bottom: 100%;
  left: -1px;
  padding: 3px 0;
  text-indent: 10px;
  width: 28%;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-admin .lista-coordenadores .linha.com-titulo:first-child:after,
  .conteudo-admin .lista-casos .linha.com-titulo:first-child:after,
  .conteudo-admin .lista-avaliacoes .linha.com-titulo:first-child:after,
  .conteudo-admin .lista-ranking .linha.com-titulo:first-child:after {
    width: 100%;
  }
}
.conteudo-admin .lista-coordenadores .linha .nenhum,
.conteudo-admin .lista-casos .linha .nenhum,
.conteudo-admin .lista-avaliacoes .linha .nenhum,
.conteudo-admin .lista-ranking .linha .nenhum {
  width: 100%;
  line-height: 60px;
  text-align: center;
  font-family: 'Asap', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #593258;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-admin .lista-coordenadores .linha .nenhum,
  .conteudo-admin .lista-casos .linha .nenhum,
  .conteudo-admin .lista-avaliacoes .linha .nenhum,
  .conteudo-admin .lista-ranking .linha .nenhum {
    box-sizing: border-box;
    padding: 10px;
    font-size: 18px;
    line-height: 110%;
  }
}
.conteudo-admin .lista-coordenadores .linha .titulo,
.conteudo-admin .lista-casos .linha .titulo,
.conteudo-admin .lista-avaliacoes .linha .titulo,
.conteudo-admin .lista-ranking .linha .titulo {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 45%;
  height: 60px;
}
@media (min-width: 790px) and (max-width: 1199px) {
  .conteudo-admin .lista-coordenadores .linha .titulo,
  .conteudo-admin .lista-casos .linha .titulo,
  .conteudo-admin .lista-avaliacoes .linha .titulo,
  .conteudo-admin .lista-ranking .linha .titulo {
    width: 30%;
  }
}
.conteudo-admin .lista-coordenadores .linha .titulo a,
.conteudo-admin .lista-casos .linha .titulo a,
.conteudo-admin .lista-avaliacoes .linha .titulo a,
.conteudo-admin .lista-ranking .linha .titulo a {
  display: block;
  transition: background 0.3s ease-in;
}
.conteudo-admin .lista-coordenadores .linha .titulo a span,
.conteudo-admin .lista-casos .linha .titulo a span,
.conteudo-admin .lista-avaliacoes .linha .titulo a span,
.conteudo-admin .lista-ranking .linha .titulo a span {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  line-height: 60px;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #593258;
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 55px 0 20px;
  background: url('/images/icone_download.png') right center no-repeat;
  transition: color 0.3s ease-in;
}
.conteudo-admin .lista-coordenadores .linha .titulo a:hover,
.conteudo-admin .lista-casos .linha .titulo a:hover,
.conteudo-admin .lista-avaliacoes .linha .titulo a:hover,
.conteudo-admin .lista-ranking .linha .titulo a:hover {
  background: #967E96;
}
.conteudo-admin .lista-coordenadores .linha .titulo a:hover span,
.conteudo-admin .lista-casos .linha .titulo a:hover span,
.conteudo-admin .lista-avaliacoes .linha .titulo a:hover span,
.conteudo-admin .lista-ranking .linha .titulo a:hover span {
  color: #fff;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-admin .lista-coordenadores .linha .titulo,
  .conteudo-admin .lista-casos .linha .titulo,
  .conteudo-admin .lista-avaliacoes .linha .titulo,
  .conteudo-admin .lista-ranking .linha .titulo {
    width: 100%;
    height: auto;
    min-height: 60px;
  }
  .conteudo-admin .lista-coordenadores .linha .titulo a span,
  .conteudo-admin .lista-casos .linha .titulo a span,
  .conteudo-admin .lista-avaliacoes .linha .titulo a span,
  .conteudo-admin .lista-ranking .linha .titulo a span {
    width: 100%;
    background-position: 90% center;
  }
}
.conteudo-admin .lista-coordenadores .linha .data,
.conteudo-admin .lista-casos .linha .data,
.conteudo-admin .lista-avaliacoes .linha .data,
.conteudo-admin .lista-ranking .linha .data {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 23%;
}
@media (min-width: 790px) and (max-width: 1199px) {
  .conteudo-admin .lista-coordenadores .linha .data,
  .conteudo-admin .lista-casos .linha .data,
  .conteudo-admin .lista-avaliacoes .linha .data,
  .conteudo-admin .lista-ranking .linha .data {
    width: 28%;
  }
}
.conteudo-admin .lista-coordenadores .linha .data span,
.conteudo-admin .lista-casos .linha .data span,
.conteudo-admin .lista-avaliacoes .linha .data span,
.conteudo-admin .lista-ranking .linha .data span {
  height: 60px;
  line-height: 60px;
  border-right: 1px #F49228 solid;
  border-left: 1px #F49228 solid;
  display: block;
  text-align: center;
  box-sizing: border-box;
  padding: 0 20px;
  font-family: 'Asap', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #593258;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-admin .lista-coordenadores .linha .data,
  .conteudo-admin .lista-casos .linha .data,
  .conteudo-admin .lista-avaliacoes .linha .data,
  .conteudo-admin .lista-ranking .linha .data {
    width: 100%;
  }
  .conteudo-admin .lista-coordenadores .linha .data span,
  .conteudo-admin .lista-casos .linha .data span,
  .conteudo-admin .lista-avaliacoes .linha .data span,
  .conteudo-admin .lista-ranking .linha .data span {
    height: auto;
    line-height: 140%;
    font-size: 14px;
    width: 100%;
    border-right: none;
    border-left: none;
    border-top: 1px #F49228 solid;
    border-bottom: 1px #F49228 solid;
    padding: 5px 0;
  }
  .conteudo-admin .lista-coordenadores .linha .data span:before,
  .conteudo-admin .lista-casos .linha .data span:before,
  .conteudo-admin .lista-avaliacoes .linha .data span:before,
  .conteudo-admin .lista-ranking .linha .data span:before {
    content: "RECEBIDO EM";
    font-family: 'Asap', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #593258;
  }
}
.conteudo-admin .lista-coordenadores .linha:first-child .data,
.conteudo-admin .lista-casos .linha:first-child .data,
.conteudo-admin .lista-avaliacoes .linha:first-child .data,
.conteudo-admin .lista-ranking .linha:first-child .data {
  position: relative;
}
.conteudo-admin .lista-coordenadores .linha:first-child .data:after,
.conteudo-admin .lista-casos .linha:first-child .data:after,
.conteudo-admin .lista-avaliacoes .linha:first-child .data:after,
.conteudo-admin .lista-ranking .linha:first-child .data:after {
  content: "RECEBIMENTO";
  font-family: 'Asap', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #593258;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-170%);
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-admin .lista-coordenadores .linha:first-child .data:after,
  .conteudo-admin .lista-casos .linha:first-child .data:after,
  .conteudo-admin .lista-avaliacoes .linha:first-child .data:after,
  .conteudo-admin .lista-ranking .linha:first-child .data:after {
    display: none;
  }
}
.conteudo-admin .lista-coordenadores .linha .distribuir,
.conteudo-admin .lista-casos .linha .distribuir,
.conteudo-admin .lista-avaliacoes .linha .distribuir,
.conteudo-admin .lista-ranking .linha .distribuir {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 20%;
}
@media (min-width: 790px) and (max-width: 1199px) {
  .conteudo-admin .lista-coordenadores .linha .distribuir,
  .conteudo-admin .lista-casos .linha .distribuir,
  .conteudo-admin .lista-avaliacoes .linha .distribuir,
  .conteudo-admin .lista-ranking .linha .distribuir {
    width: 25%;
  }
}
.conteudo-admin .lista-coordenadores .linha .distribuir a,
.conteudo-admin .lista-casos .linha .distribuir a,
.conteudo-admin .lista-avaliacoes .linha .distribuir a,
.conteudo-admin .lista-ranking .linha .distribuir a {
  width: 100%;
  box-sizing: border-box;
  display: block;
  background: url('/images/seta-branca.png') #593258 15px center no-repeat;
  padding: 8px 10px 0 60px;
  height: 60px;
  line-height: 140%;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.conteudo-admin .lista-coordenadores .linha .distribuir a:hover,
.conteudo-admin .lista-casos .linha .distribuir a:hover,
.conteudo-admin .lista-avaliacoes .linha .distribuir a:hover,
.conteudo-admin .lista-ranking .linha .distribuir a:hover {
  background-color: #967E96;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-admin .lista-coordenadores .linha .distribuir,
  .conteudo-admin .lista-casos .linha .distribuir,
  .conteudo-admin .lista-avaliacoes .linha .distribuir,
  .conteudo-admin .lista-ranking .linha .distribuir {
    width: 60%;
  }
  .conteudo-admin .lista-coordenadores .linha .distribuir a,
  .conteudo-admin .lista-casos .linha .distribuir a,
  .conteudo-admin .lista-avaliacoes .linha .distribuir a,
  .conteudo-admin .lista-ranking .linha .distribuir a {
    padding: 8px 8px 0 40px;
    background-position: 10px center;
  }
}
.conteudo-admin .lista-coordenadores .linha .remover,
.conteudo-admin .lista-casos .linha .remover,
.conteudo-admin .lista-avaliacoes .linha .remover,
.conteudo-admin .lista-ranking .linha .remover {
  width: 12.002%;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
@media (min-width: 790px) and (max-width: 1199px) {
  .conteudo-admin .lista-coordenadores .linha .remover,
  .conteudo-admin .lista-casos .linha .remover,
  .conteudo-admin .lista-avaliacoes .linha .remover,
  .conteudo-admin .lista-ranking .linha .remover {
    width: 17.002%;
  }
}
.conteudo-admin .lista-coordenadores .linha .remover a,
.conteudo-admin .lista-casos .linha .remover a,
.conteudo-admin .lista-avaliacoes .linha .remover a,
.conteudo-admin .lista-ranking .linha .remover a {
  width: 100%;
  border-left: 1px #F49228 solid;
  box-sizing: border-box;
  display: block;
  background: url('/images/img-excluir.png') #8A2B0B 15px center no-repeat;
  padding: 0 10px 0 50px;
  color: #fff;
  height: 60px;
  line-height: 60px;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.conteudo-admin .lista-coordenadores .linha .remover a:hover,
.conteudo-admin .lista-casos .linha .remover a:hover,
.conteudo-admin .lista-avaliacoes .linha .remover a:hover,
.conteudo-admin .lista-ranking .linha .remover a:hover {
  background-color: #967E96;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-admin .lista-coordenadores .linha .remover,
  .conteudo-admin .lista-casos .linha .remover,
  .conteudo-admin .lista-avaliacoes .linha .remover,
  .conteudo-admin .lista-ranking .linha .remover {
    width: 40%;
  }
  .conteudo-admin .lista-coordenadores .linha .remover a,
  .conteudo-admin .lista-casos .linha .remover a,
  .conteudo-admin .lista-avaliacoes .linha .remover a,
  .conteudo-admin .lista-ranking .linha .remover a {
    padding: 0 6px 0 40px;
    background-position: 10px center;
  }
}
.conteudo-admin .lista-coordenadores .linha .coordenador-nome,
.conteudo-admin .lista-casos .linha .coordenador-nome,
.conteudo-admin .lista-avaliacoes .linha .coordenador-nome,
.conteudo-admin .lista-ranking .linha .coordenador-nome {
  width: 43%;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
.conteudo-admin .lista-coordenadores .linha .coordenador-nome span,
.conteudo-admin .lista-casos .linha .coordenador-nome span,
.conteudo-admin .lista-avaliacoes .linha .coordenador-nome span,
.conteudo-admin .lista-ranking .linha .coordenador-nome span {
  text-transform: uppercase;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #593258;
  display: block;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  padding: 0 20px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-admin .lista-coordenadores .linha .coordenador-nome,
  .conteudo-admin .lista-casos .linha .coordenador-nome,
  .conteudo-admin .lista-avaliacoes .linha .coordenador-nome,
  .conteudo-admin .lista-ranking .linha .coordenador-nome {
    width: 100%;
    border-bottom: 1px #F49228 solid;
  }
}
.conteudo-admin .lista-coordenadores .linha:first-child .coordenador-nome,
.conteudo-admin .lista-casos .linha:first-child .coordenador-nome,
.conteudo-admin .lista-avaliacoes .linha:first-child .coordenador-nome,
.conteudo-admin .lista-ranking .linha:first-child .coordenador-nome {
  position: relative;
}
.conteudo-admin .lista-coordenadores .linha:first-child .coordenador-nome:after,
.conteudo-admin .lista-casos .linha:first-child .coordenador-nome:after,
.conteudo-admin .lista-avaliacoes .linha:first-child .coordenador-nome:after,
.conteudo-admin .lista-ranking .linha:first-child .coordenador-nome:after {
  content: "COORDENADOR";
  font-family: 'Asap', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #593258;
  position: absolute;
  top: 0;
  left: 20px;
  transform: translateY(-170%);
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-admin .lista-coordenadores .linha:first-child .coordenador-nome:after,
  .conteudo-admin .lista-casos .linha:first-child .coordenador-nome:after,
  .conteudo-admin .lista-avaliacoes .linha:first-child .coordenador-nome:after,
  .conteudo-admin .lista-ranking .linha:first-child .coordenador-nome:after {
    display: none;
  }
}
.conteudo-admin .lista-coordenadores .linha .coordenador-envio,
.conteudo-admin .lista-casos .linha .coordenador-envio,
.conteudo-admin .lista-avaliacoes .linha .coordenador-envio,
.conteudo-admin .lista-ranking .linha .coordenador-envio {
  width: 19%;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
.conteudo-admin .lista-coordenadores .linha .coordenador-envio span,
.conteudo-admin .lista-casos .linha .coordenador-envio span,
.conteudo-admin .lista-avaliacoes .linha .coordenador-envio span,
.conteudo-admin .lista-ranking .linha .coordenador-envio span {
  display: block;
  border-left: 1px #F49228 solid;
  font-family: 'Asap', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #593258;
  height: 60px;
  line-height: 60px;
  text-align: center;
  box-sizing: border-box;
  padding: 0 10px;
}
.conteudo-admin .lista-coordenadores .linha .coordenador-envio span strong,
.conteudo-admin .lista-casos .linha .coordenador-envio span strong,
.conteudo-admin .lista-avaliacoes .linha .coordenador-envio span strong,
.conteudo-admin .lista-ranking .linha .coordenador-envio span strong {
  color: #F49228;
  font-weight: bold;
}
@media (min-width: 790px) and (max-width: 1199px) {
  .conteudo-admin .lista-coordenadores .linha .coordenador-envio span,
  .conteudo-admin .lista-casos .linha .coordenador-envio span,
  .conteudo-admin .lista-avaliacoes .linha .coordenador-envio span,
  .conteudo-admin .lista-ranking .linha .coordenador-envio span {
    line-height: 110%;
    padding-top: 15px;
  }
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-admin .lista-coordenadores .linha .coordenador-envio,
  .conteudo-admin .lista-casos .linha .coordenador-envio,
  .conteudo-admin .lista-avaliacoes .linha .coordenador-envio,
  .conteudo-admin .lista-ranking .linha .coordenador-envio {
    width: 100%;
  }
  .conteudo-admin .lista-coordenadores .linha .coordenador-envio span,
  .conteudo-admin .lista-casos .linha .coordenador-envio span,
  .conteudo-admin .lista-avaliacoes .linha .coordenador-envio span,
  .conteudo-admin .lista-ranking .linha .coordenador-envio span {
    border-left: none;
    height: auto;
    line-height: 140%;
    padding: 0 0 10px 0;
  }
  .conteudo-admin .lista-coordenadores .linha .coordenador-envio:before,
  .conteudo-admin .lista-casos .linha .coordenador-envio:before,
  .conteudo-admin .lista-avaliacoes .linha .coordenador-envio:before,
  .conteudo-admin .lista-ranking .linha .coordenador-envio:before {
    content: attr(data-label);
    font-family: 'Asap', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #593258;
    width: 100%;
    text-align: center;
    display: block;
    padding: 5px 0 0 0;
  }
}
.conteudo-admin .lista-coordenadores .linha:first-child .coordenador-envio,
.conteudo-admin .lista-casos .linha:first-child .coordenador-envio,
.conteudo-admin .lista-avaliacoes .linha:first-child .coordenador-envio,
.conteudo-admin .lista-ranking .linha:first-child .coordenador-envio {
  position: relative;
}
.conteudo-admin .lista-coordenadores .linha:first-child .coordenador-envio:after,
.conteudo-admin .lista-casos .linha:first-child .coordenador-envio:after,
.conteudo-admin .lista-avaliacoes .linha:first-child .coordenador-envio:after,
.conteudo-admin .lista-ranking .linha:first-child .coordenador-envio:after {
  content: attr(data-label);
  font-family: 'Asap', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #593258;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-170%);
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-admin .lista-coordenadores .linha:first-child .coordenador-envio:after,
  .conteudo-admin .lista-casos .linha:first-child .coordenador-envio:after,
  .conteudo-admin .lista-avaliacoes .linha:first-child .coordenador-envio:after,
  .conteudo-admin .lista-ranking .linha:first-child .coordenador-envio:after {
    display: none;
  }
}
.conteudo-admin .lista-coordenadores .linha .avaliacao-codigo,
.conteudo-admin .lista-casos .linha .avaliacao-codigo,
.conteudo-admin .lista-avaliacoes .linha .avaliacao-codigo,
.conteudo-admin .lista-ranking .linha .avaliacao-codigo {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 28%;
}
.conteudo-admin .lista-coordenadores .linha .avaliacao-codigo span,
.conteudo-admin .lista-casos .linha .avaliacao-codigo span,
.conteudo-admin .lista-avaliacoes .linha .avaliacao-codigo span,
.conteudo-admin .lista-ranking .linha .avaliacao-codigo span {
  text-transform: uppercase;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #593258;
  display: block;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  padding: 0 20px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-admin .lista-coordenadores .linha .avaliacao-codigo,
  .conteudo-admin .lista-casos .linha .avaliacao-codigo,
  .conteudo-admin .lista-avaliacoes .linha .avaliacao-codigo,
  .conteudo-admin .lista-ranking .linha .avaliacao-codigo {
    width: 100%;
    border-bottom: 1px #F49228 solid;
  }
}
.conteudo-admin .lista-coordenadores .linha .avaliacao-status,
.conteudo-admin .lista-casos .linha .avaliacao-status,
.conteudo-admin .lista-avaliacoes .linha .avaliacao-status,
.conteudo-admin .lista-ranking .linha .avaliacao-status {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 12%;
}
.conteudo-admin .lista-coordenadores .linha .avaliacao-status span,
.conteudo-admin .lista-casos .linha .avaliacao-status span,
.conteudo-admin .lista-avaliacoes .linha .avaliacao-status span,
.conteudo-admin .lista-ranking .linha .avaliacao-status span {
  line-height: 130%;
  text-align: center;
  height: 60px;
  border-left: 1px #F49228 solid;
  display: block;
  color: #593258;
  font-family: 'Asap', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
  box-sizing: border-box;
}
.conteudo-admin .lista-coordenadores .linha .avaliacao-status span.pendente,
.conteudo-admin .lista-casos .linha .avaliacao-status span.pendente,
.conteudo-admin .lista-avaliacoes .linha .avaliacao-status span.pendente,
.conteudo-admin .lista-ranking .linha .avaliacao-status span.pendente {
  padding: 0;
  line-height: 60px;
  color: #F49228;
  text-align: center;
  font-weight: bold;
}
.conteudo-admin .lista-coordenadores .linha .avaliacao-status span.disabled,
.conteudo-admin .lista-casos .linha .avaliacao-status span.disabled,
.conteudo-admin .lista-avaliacoes .linha .avaliacao-status span.disabled,
.conteudo-admin .lista-ranking .linha .avaliacao-status span.disabled {
  background: #E6E6E6;
  height: 60px;
  width: 100%;
}
.conteudo-admin .lista-coordenadores .linha .avaliacao-status span.disabled small,
.conteudo-admin .lista-casos .linha .avaliacao-status span.disabled small,
.conteudo-admin .lista-avaliacoes .linha .avaliacao-status span.disabled small,
.conteudo-admin .lista-ranking .linha .avaliacao-status span.disabled small {
  display: none;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-admin .lista-coordenadores .linha .avaliacao-status,
  .conteudo-admin .lista-casos .linha .avaliacao-status,
  .conteudo-admin .lista-avaliacoes .linha .avaliacao-status,
  .conteudo-admin .lista-ranking .linha .avaliacao-status {
    width: 100%;
  }
  .conteudo-admin .lista-coordenadores .linha .avaliacao-status span,
  .conteudo-admin .lista-casos .linha .avaliacao-status span,
  .conteudo-admin .lista-avaliacoes .linha .avaliacao-status span,
  .conteudo-admin .lista-ranking .linha .avaliacao-status span {
    height: auto;
    border-left: none;
    padding: 5px;
  }
  .conteudo-admin .lista-coordenadores .linha .avaliacao-status span.pendente,
  .conteudo-admin .lista-casos .linha .avaliacao-status span.pendente,
  .conteudo-admin .lista-avaliacoes .linha .avaliacao-status span.pendente,
  .conteudo-admin .lista-ranking .linha .avaliacao-status span.pendente,
  .conteudo-admin .lista-coordenadores .linha .avaliacao-status span.disabled,
  .conteudo-admin .lista-casos .linha .avaliacao-status span.disabled,
  .conteudo-admin .lista-avaliacoes .linha .avaliacao-status span.disabled,
  .conteudo-admin .lista-ranking .linha .avaliacao-status span.disabled {
    padding: 5px;
    height: auto;
    line-height: 120%;
    background: #fff;
  }
  .conteudo-admin .lista-coordenadores .linha .avaliacao-status span.pendente small,
  .conteudo-admin .lista-casos .linha .avaliacao-status span.pendente small,
  .conteudo-admin .lista-avaliacoes .linha .avaliacao-status span.pendente small,
  .conteudo-admin .lista-ranking .linha .avaliacao-status span.pendente small,
  .conteudo-admin .lista-coordenadores .linha .avaliacao-status span.disabled small,
  .conteudo-admin .lista-casos .linha .avaliacao-status span.disabled small,
  .conteudo-admin .lista-avaliacoes .linha .avaliacao-status span.disabled small,
  .conteudo-admin .lista-ranking .linha .avaliacao-status span.disabled small {
    display: block;
  }
  .conteudo-admin .lista-coordenadores .linha .avaliacao-status span br,
  .conteudo-admin .lista-casos .linha .avaliacao-status span br,
  .conteudo-admin .lista-avaliacoes .linha .avaliacao-status span br,
  .conteudo-admin .lista-ranking .linha .avaliacao-status span br {
    display: none;
  }
  .conteudo-admin .lista-coordenadores .linha .avaliacao-status:before,
  .conteudo-admin .lista-casos .linha .avaliacao-status:before,
  .conteudo-admin .lista-avaliacoes .linha .avaliacao-status:before,
  .conteudo-admin .lista-ranking .linha .avaliacao-status:before {
    content: attr(data-label);
    font-family: 'Asap', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #593258;
    float: left;
    padding: 5px;
  }
}
.conteudo-admin .lista-coordenadores .linha:first-child .avaliacao-status,
.conteudo-admin .lista-casos .linha:first-child .avaliacao-status,
.conteudo-admin .lista-avaliacoes .linha:first-child .avaliacao-status,
.conteudo-admin .lista-ranking .linha:first-child .avaliacao-status {
  position: relative;
}
.conteudo-admin .lista-coordenadores .linha:first-child .avaliacao-status:after,
.conteudo-admin .lista-casos .linha:first-child .avaliacao-status:after,
.conteudo-admin .lista-avaliacoes .linha:first-child .avaliacao-status:after,
.conteudo-admin .lista-ranking .linha:first-child .avaliacao-status:after {
  content: attr(data-label);
  font-family: 'Asap', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #593258;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translateY(-170%);
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-admin .lista-coordenadores .linha:first-child .avaliacao-status:after,
  .conteudo-admin .lista-casos .linha:first-child .avaliacao-status:after,
  .conteudo-admin .lista-avaliacoes .linha:first-child .avaliacao-status:after,
  .conteudo-admin .lista-ranking .linha:first-child .avaliacao-status:after {
    display: none;
  }
}
.conteudo-admin .lista-coordenadores .linha .ranking-item,
.conteudo-admin .lista-casos .linha .ranking-item,
.conteudo-admin .lista-avaliacoes .linha .ranking-item,
.conteudo-admin .lista-ranking .linha .ranking-item {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #593258;
  border-left: 1px #F49228 solid;
}
.conteudo-admin .lista-coordenadores .linha .ranking-item:first-child,
.conteudo-admin .lista-casos .linha .ranking-item:first-child,
.conteudo-admin .lista-avaliacoes .linha .ranking-item:first-child,
.conteudo-admin .lista-ranking .linha .ranking-item:first-child {
  border-left: none;
}
.conteudo-admin .lista-coordenadores .linha .ranking-item p,
.conteudo-admin .lista-casos .linha .ranking-item p,
.conteudo-admin .lista-avaliacoes .linha .ranking-item p,
.conteudo-admin .lista-ranking .linha .ranking-item p {
  padding: 10px;
  color: #593258;
  font-size: 14px;
  line-height: 135%;
  margin: 0;
}
.conteudo-admin .lista-coordenadores .linha .ranking-item p.vazio,
.conteudo-admin .lista-casos .linha .ranking-item p.vazio,
.conteudo-admin .lista-avaliacoes .linha .ranking-item p.vazio,
.conteudo-admin .lista-ranking .linha .ranking-item p.vazio {
  padding: 15px 10px;
  line-height: 30px;
  font-size: 18px;
}
.conteudo-admin .lista-coordenadores .linha .ranking-item span,
.conteudo-admin .lista-casos .linha .ranking-item span,
.conteudo-admin .lista-avaliacoes .linha .ranking-item span,
.conteudo-admin .lista-ranking .linha .ranking-item span {
  padding: 15px 10px;
  box-sizing: border-box;
  min-height: 60px;
  display: block;
}
.conteudo-admin .lista-coordenadores .linha .ranking-contador,
.conteudo-admin .lista-casos .linha .ranking-contador,
.conteudo-admin .lista-avaliacoes .linha .ranking-contador,
.conteudo-admin .lista-ranking .linha .ranking-contador {
  width: 5%;
  text-align: center;
}
.conteudo-admin .lista-coordenadores .linha .ranking-contador span:after,
.conteudo-admin .lista-casos .linha .ranking-contador span:after,
.conteudo-admin .lista-avaliacoes .linha .ranking-contador span:after,
.conteudo-admin .lista-ranking .linha .ranking-contador span:after {
  counter-increment: ranking;
  color: #593258;
  font-family: 'Asap', sans-serif;
  font-size: 24px;
  font-weight: bold;
  content: counter(ranking);
}
.conteudo-admin .lista-coordenadores .linha .ranking-codigo,
.conteudo-admin .lista-casos .linha .ranking-codigo,
.conteudo-admin .lista-avaliacoes .linha .ranking-codigo,
.conteudo-admin .lista-ranking .linha .ranking-codigo {
  width: 15%;
}
.conteudo-admin .lista-coordenadores .linha .ranking-codigo span,
.conteudo-admin .lista-casos .linha .ranking-codigo span,
.conteudo-admin .lista-avaliacoes .linha .ranking-codigo span,
.conteudo-admin .lista-ranking .linha .ranking-codigo span {
  font-size: 16px;
  line-height: 30px;
}
.conteudo-admin .lista-coordenadores .linha .ranking-codigo:after,
.conteudo-admin .lista-casos .linha .ranking-codigo:after,
.conteudo-admin .lista-avaliacoes .linha .ranking-codigo:after,
.conteudo-admin .lista-ranking .linha .ranking-codigo:after {
  left: -50%;
}
.conteudo-admin .lista-coordenadores .linha .ranking-autor,
.conteudo-admin .lista-casos .linha .ranking-autor,
.conteudo-admin .lista-avaliacoes .linha .ranking-autor,
.conteudo-admin .lista-ranking .linha .ranking-autor {
  width: 25%;
}
.conteudo-admin .lista-coordenadores .linha .ranking-autor span,
.conteudo-admin .lista-casos .linha .ranking-autor span,
.conteudo-admin .lista-avaliacoes .linha .ranking-autor span,
.conteudo-admin .lista-ranking .linha .ranking-autor span {
  font-size: 18px;
  line-height: 30px;
}
.conteudo-admin .lista-coordenadores .linha .ranking-coautores,
.conteudo-admin .lista-casos .linha .ranking-coautores,
.conteudo-admin .lista-avaliacoes .linha .ranking-coautores,
.conteudo-admin .lista-ranking .linha .ranking-coautores {
  font-size: 12px;
  width: 25%;
}
.conteudo-admin .lista-coordenadores .linha .ranking-coordenador,
.conteudo-admin .lista-casos .linha .ranking-coordenador,
.conteudo-admin .lista-avaliacoes .linha .ranking-coordenador,
.conteudo-admin .lista-ranking .linha .ranking-coordenador {
  width: 20%;
}
.conteudo-admin .lista-coordenadores .linha .ranking-coordenador span,
.conteudo-admin .lista-casos .linha .ranking-coordenador span,
.conteudo-admin .lista-avaliacoes .linha .ranking-coordenador span,
.conteudo-admin .lista-ranking .linha .ranking-coordenador span {
  font-size: 16px;
  line-height: 30px;
}
.conteudo-admin .lista-coordenadores .linha .ranking-pontos,
.conteudo-admin .lista-casos .linha .ranking-pontos,
.conteudo-admin .lista-avaliacoes .linha .ranking-pontos,
.conteudo-admin .lista-ranking .linha .ranking-pontos {
  width: 10%;
}
.conteudo-admin .lista-coordenadores .linha .ranking-pontos span,
.conteudo-admin .lista-casos .linha .ranking-pontos span,
.conteudo-admin .lista-avaliacoes .linha .ranking-pontos span,
.conteudo-admin .lista-ranking .linha .ranking-pontos span {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  color: #4D4D4D;
}
.conteudo-admin .lista-coordenadores .linha:first-child .ranking-item,
.conteudo-admin .lista-casos .linha:first-child .ranking-item,
.conteudo-admin .lista-avaliacoes .linha:first-child .ranking-item,
.conteudo-admin .lista-ranking .linha:first-child .ranking-item {
  position: relative;
}
.conteudo-admin .lista-coordenadores .linha:first-child .ranking-item:after,
.conteudo-admin .lista-casos .linha:first-child .ranking-item:after,
.conteudo-admin .lista-avaliacoes .linha:first-child .ranking-item:after,
.conteudo-admin .lista-ranking .linha:first-child .ranking-item:after {
  content: attr(data-label);
  font-family: 'Asap', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #593258;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 10px;
  transform: translateY(-170%);
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-admin .lista-coordenadores .linha:first-child .ranking-item:after,
  .conteudo-admin .lista-casos .linha:first-child .ranking-item:after,
  .conteudo-admin .lista-avaliacoes .linha:first-child .ranking-item:after,
  .conteudo-admin .lista-ranking .linha:first-child .ranking-item:after {
    display: none;
  }
}
.conteudo-admin .lista-coordenadores .linha:first-child .ranking-item:nth-child(2):after,
.conteudo-admin .lista-casos .linha:first-child .ranking-item:nth-child(2):after,
.conteudo-admin .lista-avaliacoes .linha:first-child .ranking-item:nth-child(2):after,
.conteudo-admin .lista-ranking .linha:first-child .ranking-item:nth-child(2):after {
  transform: translateX(-50px) translateY(-170%);
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-admin .lista-coordenadores .linha .ranking-item,
  .conteudo-admin .lista-casos .linha .ranking-item,
  .conteudo-admin .lista-avaliacoes .linha .ranking-item,
  .conteudo-admin .lista-ranking .linha .ranking-item {
    border: none;
  }
  .conteudo-admin .lista-coordenadores .linha .ranking-item:before,
  .conteudo-admin .lista-casos .linha .ranking-item:before,
  .conteudo-admin .lista-avaliacoes .linha .ranking-item:before,
  .conteudo-admin .lista-ranking .linha .ranking-item:before {
    content: attr(data-label);
    font-family: 'Asap', sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #593258;
    padding-left: 10px;
  }
  .conteudo-admin .lista-coordenadores .linha .ranking-item span,
  .conteudo-admin .lista-casos .linha .ranking-item span,
  .conteudo-admin .lista-avaliacoes .linha .ranking-item span,
  .conteudo-admin .lista-ranking .linha .ranking-item span {
    padding: 10px;
  }
  .conteudo-admin .lista-coordenadores .linha .ranking-contador,
  .conteudo-admin .lista-casos .linha .ranking-contador,
  .conteudo-admin .lista-avaliacoes .linha .ranking-contador,
  .conteudo-admin .lista-ranking .linha .ranking-contador {
    width: 20%;
  }
  .conteudo-admin .lista-coordenadores .linha .ranking-codigo,
  .conteudo-admin .lista-casos .linha .ranking-codigo,
  .conteudo-admin .lista-avaliacoes .linha .ranking-codigo,
  .conteudo-admin .lista-ranking .linha .ranking-codigo {
    width: 80%;
  }
  .conteudo-admin .lista-coordenadores .linha .ranking-autor,
  .conteudo-admin .lista-casos .linha .ranking-autor,
  .conteudo-admin .lista-avaliacoes .linha .ranking-autor,
  .conteudo-admin .lista-ranking .linha .ranking-autor {
    width: 100%;
  }
  .conteudo-admin .lista-coordenadores .linha .ranking-coautores,
  .conteudo-admin .lista-casos .linha .ranking-coautores,
  .conteudo-admin .lista-avaliacoes .linha .ranking-coautores,
  .conteudo-admin .lista-ranking .linha .ranking-coautores {
    width: 100%;
  }
  .conteudo-admin .lista-coordenadores .linha .ranking-coordenador,
  .conteudo-admin .lista-casos .linha .ranking-coordenador,
  .conteudo-admin .lista-avaliacoes .linha .ranking-coordenador,
  .conteudo-admin .lista-ranking .linha .ranking-coordenador {
    width: 100%;
  }
  .conteudo-admin .lista-coordenadores .linha .ranking-pontos,
  .conteudo-admin .lista-casos .linha .ranking-pontos,
  .conteudo-admin .lista-avaliacoes .linha .ranking-pontos,
  .conteudo-admin .lista-ranking .linha .ranking-pontos {
    width: 100%;
  }
}
.conteudo-admin .lista-usuarios {
  width: 100%;
  border: 1px #F49228 solid;
}
.conteudo-admin .lista-usuarios tr th,
.conteudo-admin .lista-usuarios tr td {
  border: 1px #F49228 solid;
  padding: 7px;
  background: #fff;
  font-family: 'Asap', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #593258;
}
.conteudo-admin .lista-usuarios tr th strong,
.conteudo-admin .lista-usuarios tr td strong {
  font-weight: bold;
}
.conteudo-admin .lista-usuarios tr th strong.vermelho,
.conteudo-admin .lista-usuarios tr td strong.vermelho {
  color: #E55370;
}
.conteudo-admin .lista-usuarios tr th strong.verde,
.conteudo-admin .lista-usuarios tr td strong.verde {
  color: #277F8D;
}
.conteudo-admin .lista-usuarios tr th {
  font-weight: bold;
}
.conteudo-admin .lista-usuarios tr td.status {
  text-align: center;
}
.conteudo-admin .lista-usuarios tr td.status a {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  padding: 5px 10px;
  margin-top: 5px;
  border: 1px #593258 solid;
  transition: all 0.3s ease-in-out;
  background: #fff;
  color: #593258;
  border-radius: 4px;
}
.conteudo-admin .lista-usuarios tr td.status a:active,
.conteudo-admin .lista-usuarios tr td.status a:visited {
  color: #593258;
}
.conteudo-admin .lista-usuarios tr td.status a:hover {
  background: #593258;
  color: #fff;
}
.conteudo-admin p.titulo-categoria {
  border: 1px #F49228 solid;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 2px 5px;
  background: #593258;
  color: #F49228;
}
.confirm-box {
  background: #fff;
  padding: 30px 50px;
}
@media (min-width: 0px) and (max-width: 789px) {
  .confirm-box {
    padding: 15px;
  }
}
.confirm-box p {
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
  color: #593258;
  font-size: 18px;
  width: 600px;
  max-width: 100%;
  text-align: center;
}
.confirm-box p.code strong {
  font-weight: bold;
}
.confirm-box .controles {
  padding-top: 20px;
  border-top: 1px #757876 solid;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.confirm-box .controles .botao-voltar {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  padding: 10px 20px;
  border: 1px #593258 solid;
  font-family: 'Asap', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #757876;
  transition: all 0.3s ease-in;
}
.confirm-box .controles .botao-voltar:active,
.confirm-box .controles .botao-voltar:visited {
  color: #757876;
}
.confirm-box .controles .botao-voltar:hover {
  color: #fff;
  background: #757876;
}
.confirm-box .controles .botao-envio {
  cursor: pointer;
  float: right;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  padding: 10px 20px;
  border: 1px #593258 solid;
  font-family: 'Asap', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background: #593258;
  transition: all 0.3s ease-in;
}
.confirm-box .controles .botao-envio:active,
.confirm-box .controles .botao-envio:visited {
  color: #fff;
}
.confirm-box .controles .botao-envio:hover {
  background: #F49228;
}
.confirm-box .controles .botao-remover {
  cursor: pointer;
  float: right;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  padding: 10px 20px;
  border: 1px #8A2B0B solid;
  font-family: 'Asap', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background: #8A2B0B;
  transition: all 0.3s ease-in;
}
.confirm-box .controles .botao-remover:active,
.confirm-box .controles .botao-remover:visited {
  color: #fff;
}
.confirm-box .controles .botao-remover:hover {
  background: #967E96;
}
.conteudo-avaliacoes h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #F49228;
  display: block;
  position: relative;
}
.conteudo-avaliacoes h2.titulo-historico {
  margin-top: 80px;
  font-size: 28px;
}
.conteudo-avaliacoes .contem-colunas {
  margin: 20px 0 60px 0;
  font-size: 0;
}
.conteudo-avaliacoes .contem-colunas .coluna p {
  display: block;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 140%;
  margin: 0 0 15px 0;
}
.conteudo-avaliacoes .contem-colunas .coluna .texto-avaliacao {
  padding: 15px 40px 20px 0;
  color: #593258;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-avaliacoes .contem-colunas .coluna .texto-avaliacao {
    padding: 15px 0;
  }
}
.conteudo-avaliacoes .contem-colunas .coluna .destaque {
  padding: 15px 25px;
  color: #fff;
  background: #593258;
}
.conteudo-avaliacoes .contem-colunas .coluna .destaque p {
  font-size: 14px;
  margin: 0;
}
.conteudo-avaliacoes .contem-colunas .coluna ol {
  margin-top: 5px;
  list-style: decimal inside;
}
.conteudo-avaliacoes .contem-colunas .coluna ol li {
  line-height: 140%;
  font-family: 'Asap', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}
.conteudo-avaliacoes p.titulo-categoria {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #F49228;
  background: #593258;
  line-height: 100%;
  padding: 2px 5px;
  margin-bottom: 3px;
  font-weight: bold;
}
.conteudo-avaliacoes p.titulo-categoria.destaque {
  background: #F49228;
  color: #fff;
}
.conteudo-avaliacoes .descricao-categoria {
  padding: 5px;
}
.conteudo-avaliacoes .descricao-categoria span {
  color: #593258;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 28%;
}
.conteudo-avaliacoes .descricao-categoria p {
  width: 71%;
  color: #593258;
  font-family: 'Asap', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 140%;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-avaliacoes .descricao-categoria p {
    width: 100%;
  }
}
.conteudo-avaliacoes .lista-avaliacoes {
  margin-top: 50px;
  margin-bottom: 40px;
}
.conteudo-avaliacoes .lista-avaliacoes .linha-loader {
  height: 50px;
  margin: 15px 0;
  text-align: center;
  background: url('/images/loader.svg') center center no-repeat;
}
.conteudo-avaliacoes .lista-avaliacoes .linha {
  background: #fff;
  font-size: 0;
  min-height: 60px;
  border: 1px #F49228 solid;
  border-bottom: none;
  position: relative;
}
.conteudo-avaliacoes .lista-avaliacoes .linha:last-child {
  border-bottom: 1px #F49228 solid;
}
.conteudo-avaliacoes .lista-avaliacoes .linha .nenhum {
  line-height: 60px;
  text-align: center;
  font-family: 'Asap', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #593258;
}
.conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-codigo {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 28.006%;
}
.conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-codigo span {
  height: 60px;
  line-height: 60px;
  display: block;
  box-sizing: border-box;
  padding: 0 20px;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #593258;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-codigo {
    width: 100%;
  }
}
.conteudo-avaliacoes .lista-avaliacoes .linha.editavel:first-child .avaliacao-codigo {
  position: relative;
}
.conteudo-avaliacoes .lista-avaliacoes .linha.editavel:first-child .avaliacao-codigo:after {
  content: attr(data-label);
  font-family: 'Asap', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #593258;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-170%);
}
.conteudo-avaliacoes .lista-avaliacoes .linha .erro-linha {
  border-top: 1px #277F8D solid;
  padding: 5px 0;
  width: 100%;
  text-align: center;
  background-color: #E55370;
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}
.conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 12%;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio {
    width: 100%;
  }
}
.conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio .input {
  background: #fff;
  height: 60px;
  border-left: 1px #F49228 solid;
  display: block;
  text-align: center;
  font-family: 'Asap', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #593258;
  position: relative;
  box-sizing: border-box;
  padding: 5px 15px;
}
.conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio .input .padding {
  position: relative;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio .input {
    border-left: none;
  }
}
.conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio a {
  width: 100%;
  box-sizing: border-box;
  display: block;
  background: #593258;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border-left: 1px #F49228 solid;
  transition: all 0.3s ease-in-out;
}
.conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio a:hover {
  background-color: #F49228;
}
.conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio a i {
  display: none;
  margin: 13px 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 30px;
  height: 30px;
}
.conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio a.enviando {
  background-color: #593258;
}
.conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio a.enviando span {
  display: none;
}
.conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio a.enviando .loader {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  opacity: 1;
}
.conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio a.sucesso {
  background-color: #593258;
}
.conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio a.sucesso span,
.conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio a.sucesso .loader {
  display: none;
}
.conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio a.sucesso .sucesso {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  background: url('/images/icon-sucesso.png') center center no-repeat;
  opacity: 1;
}
.conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio input[type="text"] {
  background: transparent;
  height: 50px;
  line-height: 50px;
  border: none;
  display: block;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
  font-size: 20px;
  font-weight: normal;
  max-width: 100%;
  color: #593258;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio .input span {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;
  height: 50px;
  width: 0;
  background: #DDD;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio input[type="text"]:focus {
  outline: none;
}
.conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio input[type="text"]:focus ~ span {
  opacity: 1;
  width: 100%;
  left: 0;
}
.conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio input[type="text"]:disabled {
  color: #593258;
  font-size: 13px;
  font-weight: normal;
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio input[type="text"]:disabled {
    width: 100%;
  }
}
.conteudo-avaliacoes .lista-avaliacoes .linha .avaliacao-criterio:last-child {
  background: #7CCAAF;
}
.conteudo-avaliacoes .lista-avaliacoes .linha:first-child .avaliacao-criterio {
  position: relative;
}
.conteudo-avaliacoes .lista-avaliacoes .linha:first-child .avaliacao-criterio:after {
  content: attr(data-label);
  font-family: 'Asap', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #593258;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-170%);
}
@media (min-width: 0px) and (max-width: 789px) {
  .conteudo-avaliacoes .lista-avaliacoes .linha:first-child .avaliacao-criterio:after {
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
  }
}
@media (min-width: 790px) and (max-width: 1199px) {
  .conteudo-avaliacoes .lista-avaliacoes .linha:first-child .avaliacao-criterio:after {
    font-size: 10px;
    white-space: nowrap;
  }
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.loader {
  font-size: 2px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
