.conteudo-admin{

  a.botao-padrao{
    cursor: pointer;
    .inline;
    padding: 10px 20px;
    border: 1px @laranja solid;
    .asap(15px, bold);
    color: #fff;
    background: @laranja;
    transition: all .3s ease-in;
    margin: 14px 0;
    &:active, &:visited{color:#fff;}
    &:hover{
      color:@roxo;
    }
  }

  .link-area-usuario{
    float: right;
    color: @laranja;
    .asap(13px);
    &:active, &:visited{color:@laranja;}
    &:hover{
      color:@roxo;
    }
  }

  ul.padrao{
    border-bottom: 1px @verde solid;
    li{
      background: #fff;
      color:@verde;
      padding: 6px 0 6px 3px;
      border-top: 1px @verde solid;
      .asap(15px);
      display: block;
      &.erro{color:@vermelho;}
    }
  }

  h2{
    .montserrat(24px, bold);
    color: @laranja;
    text-align: center;
    line-height: 40px;
    margin-bottom: 30px;
    @media @small{
      line-height: 160%;
      span{
        padding: 0 15px;
      }
    }
  }

  p.header{
    .montserrat(16px);
    line-height: 150%;
    border-left: 1px @laranja solid;
    border-right: 1px @laranja solid;
    border-top: 1px @laranja solid;
    background: @roxo;
    width: 45%;
    span{
      color: @laranja;
      font-size: 16px;
      font-weight: bold;
      padding: 0 20px 0 10px;
    }
    @media @small{
      width: 100%;
    }
  }

  p.destaque{
    color: @roxo;
    .asap(14px);
    line-height: 150%;
    text-align: center;
    margin: 30px 0 100px 0;
    font-size: 18px;
  }

  .lista-coordenadores{
    margin-top: 50px;
  }

  .lista-avaliacoes{
    margin-top: 80px;
  }

  .lista-ranking{
    margin-top: 35px;
    width: 100%;
    counter-reset: ranking;
    .linha{
      width: 100%;
      @media @large{
        align-items: stretch;
        display: flex;
      }
    }
    position: relative;
    &:after{
      content: attr(data-label);
      .asap(16px, bold);
      color:@laranja;
      position: absolute;
      top:0;
      left: 20px;
      transform: translateY(-170%);
    }
  }

  .linha-loader{
    height: 50px;
    margin: 15px 0;
    text-align: center;
    background: url('/images/loader.svg') center center no-repeat;
  }

  .lista-coordenadores,
  .lista-casos,
  .lista-avaliacoes,
  .lista-ranking{
    margin-bottom: 40px;
    .linha{
      background: #fff;
      font-size: 0;
      min-height: 60px;
      border: 1px @laranja solid;
      border-bottom: none;
      @media @small{
        min-height: 30px;
        margin-bottom: 5px;
        border-bottom: 1px @laranja solid;
      }

      &:last-child{
        border-bottom: 1px @laranja solid;
      }

      &.com-titulo:first-child{
        position: relative;
        &:after{
          content: attr(data-label);
          .montserrat(16px, bold);
          background:@roxo;
          color:@laranja;
          position: absolute;
          border: 1px @laranja solid;
          bottom: 100%;
          left: -1px;
          padding: 3px 0;
          text-indent: 10px;
          width: 28%;
          @media @small{
            width: 100%;
          }
        }
      }


      .nenhum{
        width: 100%;
        line-height: 60px;
        text-align: center;
        .asap(20px, bold);
        color:@roxo;
        @media @small{
          box-sizing: border-box;
          padding: 10px;
          font-size: 18px;
          line-height: 110%;
        }
      }


      .titulo{
        .inline;
        width: 45%;
        height: 60px;
        @media @medium{
          width: 30%;
        }
        a{
          display: block;
          transition: background .3s ease-in;
          span{
            .inline;
            line-height: 60px;
            .asap(16px);
            color: @roxo;
            box-sizing: border-box;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 55px 0 20px;
            background: url('/images/icone_download.png') right center no-repeat;
            transition: color .3s ease-in;
          }
          &:hover{
            background: @roxo-claro;
            span{
              color:#fff;
            }
          }
        }
        @media @small{
          width: 100%;
          height: auto;
          min-height: 60px;
          a{
            span{
              width: 100%;
              background-position: 90% center;
            }
          }
        }
      }

      .data{
        .inline;
        width: 23%;
        @media @medium{
          width: 28%;
        }
        span{
          height: 60px;
          line-height: 60px;
          border-right: 1px @laranja solid;
          border-left: 1px @laranja solid;
          display: block;
          text-align: center;
          box-sizing: border-box;
          padding: 0 20px;
          .asap(20px);
          color:@roxo;
        }
        @media @small{
          width: 100%;
          span{
            height: auto;
            line-height: 140%;
            font-size: 14px;
            width: 100%;
            border-right: none;
            border-left: none;
            border-top: 1px @laranja solid;
            border-bottom: 1px @laranja solid;
            padding: 5px 0;
            &:before{
              content: "RECEBIDO EM";
              .asap(12px);
              color:@roxo;
            }
          }
        }
      }
      &:first-child{
        .data{
          position: relative;
          &:after{
            content: "RECEBIMENTO";
            .asap(13px);
            color:@roxo;
            position: absolute;
            top:0;
            left: 50%;
            transform: translateX(-50%) translateY(-170%);
          }
        }
        @media @small{
          .data:after{
            display:none;
          }
        }
      }

      .distribuir{
        .inline;
        width: 20%;
        @media @medium{
          width: 25%;
        }
        a{
          width: 100%;
          box-sizing: border-box;
          display: block;
          background: url('/images/seta-branca.png') @roxo 15px center no-repeat;
          padding: 8px 10px 0 60px;
          height: 60px;
          line-height: 140%;
          .asap(16px, bold);
          color:#fff;
          transition: all .3s ease-in-out;
          &:hover{
            background-color:@roxo-claro;
          }
        }
        @media @small{
          width: 60%;
          a{
            padding: 8px 8px 0 40px;
            background-position: 10px center;
          }
        }
      }
      .remover{
        width: 12.002%;
        .inline;
        @media @medium{
          width: 17.002%;
        }
        a{
          width: 100%;
          border-left: 1px @laranja solid;
          box-sizing: border-box;
          display: block;
          background: url('/images/img-excluir.png') @marrom 15px center no-repeat;
          padding: 0 10px 0 50px;
          color: #fff;
          height: 60px;
          line-height: 60px;
          .asap(16px, bold);
          transition: all .3s ease-in-out;
          &:hover{
            background-color:@roxo-claro;
          }
        }
        @media @small{
          width: 40%;
          a{
            padding: 0 6px 0 40px;
            background-position: 10px center;
          }
        }
      }


      .coordenador-nome{
        width: 43%;
        .inline;
        span{
          text-transform: uppercase;
          .asap(16px);
          color: @roxo;
          display: block;
          height: 60px;
          line-height: 60px;
          box-sizing: border-box;
          padding: 0 20px;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        @media @small{
          width: 100%;
          border-bottom: 1px @laranja solid;

        }
      }
      &:first-child{
        .coordenador-nome{
          position: relative;
          &:after{
            content: "COORDENADOR";
            .asap(12px, bold);
            color:@roxo;
            position: absolute;
            top:0;
            left: 20px;
            transform: translateY(-170%);
            @media @small{display:none;}
          }
        }
      }
      .coordenador-envio{
        width: 19%;
        .inline;
        span{
          display: block;
          border-left: 1px @laranja solid;
          .asap(14px);
          color: @roxo;
          height: 60px;
          line-height: 60px;
          text-align: center;
          box-sizing: border-box;
          padding: 0 10px;
          strong{
            color: @laranja;
            font-weight: bold;
          }
          @media @medium{
            line-height: 110%;
            padding-top: 15px;
          }
        }
        @media @small{
          width: 100%;
          span{
            border-left: none;
            height: auto;
            line-height: 140%;
            padding: 0 0 10px 0;
          }
          &:before{
            content: attr(data-label);
            .asap(13px, bold);
            color:@roxo;
            width: 100%;
            text-align: center;
            display: block;
            padding: 5px 0 0 0;
          }
        }
      }
      &:first-child{
        .coordenador-envio{
          position: relative;
          &:after{
            content: attr(data-label);
            .asap(13px, bold);
            color:@roxo;
            position: absolute;
            top:0;
            left: 50%;
            transform: translateX(-50%) translateY(-170%);
            @media @small{
              display: none;
            }
          }
        }
      }


      .avaliacao-codigo{
        .inline;
        width: 28%;
        span{
          text-transform: uppercase;
          .asap(16px);
          color: @roxo;
          display: block;
          height: 60px;
          line-height: 60px;
          box-sizing: border-box;
          padding: 0 20px;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        @media @small{
          width: 100%;
          border-bottom: 1px @laranja solid;
        }
      }


      .avaliacao-status{
        .inline;
        width: 12%;
        span{
          line-height: 130%;
          text-align: center;
          height: 60px;
          border-left: 1px @laranja solid;
          display: block;
          color: @roxo;
          .asap(14px);
          padding: 10px;
          box-sizing: border-box;
          &.pendente{
            padding: 0;
            line-height: 60px;
            color: @laranja;
            text-align: center;
            font-weight: bold;
          }
          &.disabled{
            background: @cinza_claro;
            height: 60px;
            width: 100%;
            small{display: none;}
          }
        }
        @media @small{
          width: 100%;
          span{
            height: auto;
            border-left: none;
            padding: 5px;
            &.pendente,
            &.disabled{
              padding: 5px;
              height: auto;
              line-height: 120%;
              background:#fff;
              small{display: block;}
            }
            br{display:none;}
          }
          &:before{
            content: attr(data-label);
            .asap(12px, bold);
            color:@roxo;
            float:left;
            padding: 5px;
          }
        }
      }
      &:first-child{
        .avaliacao-status{
          position: relative;
          &:after{
            content: attr(data-label);
            .asap(12px, bold);
            color:@roxo;
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            text-align: center;
            transform: translateY(-170%);
            @media @small{
              display: none;
            }
          }
        }
      }

      .ranking-item{
        .inline;
        .asap(16px);
        color:@roxo;
        border-left: 1px @laranja solid;
        &:first-child{border-left: none;}
        p{
          padding: 10px;
          color: @roxo;
          font-size: 14px;
          line-height: 135%;
          margin: 0;
          &.vazio{
            padding: 15px 10px;
            line-height: 30px;
            font-size: 18px;
          }
        }
        span{
          padding: 15px 10px;
          box-sizing: border-box;
          min-height: 60px;
          display: block;
        }
      }

      .ranking-contador{
        width: 5%;
        text-align: center;
        span{
          &:after{
            counter-increment: ranking;
            color:@roxo;
            .asap(24px, bold);
            content: counter(ranking);
          }
        }
      }
      .ranking-codigo{
        width: 15%;
        span{
          font-size: 16px;
          line-height: 30px;
        }
        &:after{
          left: -50%;
        }
      }
      .ranking-autor{
        width: 25%;
        span{
          font-size: 18px;
          line-height: 30px;
        }
      }
      .ranking-coautores{
        font-size: 12px;
        width: 25%;
      }
      .ranking-coordenador{
        width: 20%;
        span{
          font-size: 16px;
          line-height: 30px;
        }
      }
      .ranking-pontos{
        width: 10%;
        span{
          font-size: 20px;
          line-height: 30px;
          text-align: center;
          font-weight: bold;
          color:@cinza_escuro;
        }
      }
      &:first-child{
        .ranking-item{
          position: relative;
          &:after{
            content: attr(data-label);
            .asap(12px, bold);
            color:@roxo;
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            padding: 0 10px;
            transform: translateY(-170%);
            @media @small{display:none;}
          }
          &:nth-child(2):after{
            transform: translateX(-50px) translateY(-170%);
          }
        }
      }

      @media @small{
        .ranking-item{
          border: none;
          &:before{
            content: attr(data-label);
            .asap(11px, bold);
            color:@roxo;
            padding-left: 10px;
          }
          span{
            padding: 10px;
          }
        }
        .ranking-contador{width:20%;}
        .ranking-codigo{width:80%;}
        .ranking-autor{width:100%;}
        .ranking-coautores{width:100%;}
        .ranking-coordenador{width:100%;}
        .ranking-pontos{width:100%;}
      }
    }
  }

  .lista-usuarios{
    width: 100%;
    border: 1px @laranja solid;
    tr{
      th, td{
        border: 1px @laranja solid;
        padding: 7px;
        background: #fff;
        .asap(12px);
        color:@roxo;
        strong{
          font-weight: bold;
          &.vermelho{color:@vermelho;}
          &.verde{color:@verde;}
        }
      }
      th{
        font-weight: bold;
      }
      td.status{
        text-align: center;
        a{
          .inline;
          padding: 5px 10px;
          margin-top: 5px;
          border: 1px @roxo solid;
          transition: all .3s ease-in-out;
          background:#fff;
          color:@roxo;
          border-radius: 4px;
          &:active, &:visited{color:@roxo;}
          &:hover{
            background:@roxo;
            color:#fff;
          }
        }
      }
    }
  }

  p.titulo-categoria{
    border: 1px @laranja solid;
    .montserrat(16px, bold);
    padding: 2px 5px;
    background: @roxo;
    color: @laranja;
  }
}

.confirm-box{
  background: #fff;
  padding: 30px 50px;
  @media @small{
    padding: 15px;
  }
  p{
    .asap(16px);
    margin-bottom: 20px;
    color: @roxo;
    font-size: 18px;
    width: 600px;
    max-width: 100%;
    text-align: center;
    &.code{
      strong{
        font-weight: bold;
      }
    }
  }
  .controles{
    padding-top: 20px;
    border-top: 1px @cinza solid;
    user-select: none;    
    .botao-voltar{
      .inline;
      padding: 10px 20px;
      border: 1px @roxo solid;
      .asap(15px, bold);
      color:@cinza;
      transition: all .3s ease-in;
      &:active, &:visited{color:@cinza;}
      &:hover{
        color:#fff;
        background: @cinza;
      }
    }
    .botao-envio{
      cursor: pointer;
      float:right;
      .inline;
      padding: 10px 20px;
      border: 1px @roxo solid;
      .asap(15px, bold);
      color: #fff;
      background: @roxo;
      transition: all .3s ease-in;
      &:active, &:visited{color:#fff;}
      &:hover{
        background: @laranja;
      }
    }
    .botao-remover{
      cursor: pointer;
      float:right;
      .inline;
      padding: 10px 20px;
      border: 1px @marrom solid;
      .asap(15px, bold);
      color: #fff;
      background: @marrom;
      transition: all .3s ease-in;
      &:active, &:visited{color:#fff;}
      &:hover{
        background: @roxo-claro;
      }
    }
  }
}
