.conteudo-submeter-caso{
  text-align: center;
  min-height: 400px;
  p{
    color: @roxo;
    line-height: 150%;
    max-width: 670px;
    margin: 0 auto;
    display: block;
    .asap(16px);
    strong{font-weight: bold;}
    &.small{
      font-size: 14px;
    }
    a{
      color: @roxo;
      font-weight: bold;
      transition: all .3s ease-in;
      &:active, &:visited{color: @roxo;}
      &:hover{color:@laranja;}
    }
  }
  a.download-link{
    .inline;
    margin: 40px 0 30px 0;
    padding: 0 50px;
    border: 1px @roxo solid;
    text-align: center;
    line-height: 60px;
    background: #fff;
    color: @laranja;
    .montserrat(16px, bold);
    transition: all .3s ease-in-out;
    span{
      height: 39px;
      padding: 8px 15px 13px 0;
      .inline;
    }
    &:hover{
      background: @roxo;
    }
    @media @small{
      padding: 0;
      display: block;
    }
  }
}

.botoes-envio{
  font-size: 0;
  padding: 20px 0 60px 0;
  .box{
    .inline;
    width: 33%;
    &:last-child{
      margin-left: 66%;
      margin-top: 67px;
      position: relative;
      a{
        height: 190px;        
      }
      &.inativo.reduzido{
        a{
          height: 120px;
        }
      }
      @media (max-width: 1200px) {
        margin-left: 0;
        a{
          height: auto;
        }
        &.inativo.reduzido{
          a{
            height: auto;
          }
        }
      }
      @media (min-width: 790px) and (max-width: 1200px) {
        margin-left: 66%;
      }
      &:before{
        position: absolute;
        content: "OU";
        color: @laranja;
        .montserrat(24px, bold);
        width: 100%;
        text-align: center;
        bottom: 105%;
        left: 0;
      }
    }
    @media @small{
      width: 100%;
      margin-bottom: 3px;
    }
    &.inativo{
      a{
        background: @roxo-light;
        cursor: default;
      }
    }
    a{
      border: 1px @roxo solid;
      display: block;
      padding: 30px;
      background: #fff;
      transition: background .3s ease-in-out;
      height: 230px;      
      @media (max-width: 1200px){
        height: auto;
      }
      h3{
        .montserrat(14px, bold);
        color: @laranja;        
      }
      h2{
        .montserrat(18px, bold);
        color: @roxo;        
        margin: 10px 0;
      }
      p{
        margin: 10px 0 20px 0;
        line-height: 140%;
        color:@roxo;
        .asap(14px);
        padding: 0 25px;
      }
      .botao{
        span{
          font-weight: normal;
          color: @laranja;
          .inline;
          vertical-align: middle;
          img{
            margin-right: 10px;
          }
        }
        padding-top: 15px;
        border-top: 1px @roxo solid;
        .montserrat(16px, bold);
      }
      &:hover{
        background: @roxo-light;
      }
    }
    &:first-child,
    &:nth-child(2){
      a{
        border-right: none;
        @media @small{
          border-right: 1px @verde solid;;
        }
      }
    }
  }
}

.formCaso{
  background: #fff;
  padding: 45px 70px;
  @media @small{
    padding: 15px 5px;
  }
  max-width: 740px;
  width: 100%;
  box-sizing: border-box;
  color: @verde;
  .asap(16px);
  h2{
    text-align: center;
    color: @roxo;
    .asap(16px, bold);
    margin-bottom: 15px;
    span{color: @laranja;}
  }
  .input-arquivo{
    height: 40px;
    line-height: 40px;
    border: 1px @roxo solid;
    margin-bottom: 10px;
    position: relative;
    label{
      position: absolute;
      z-index: 4;
      width: 100%;
      background: #fff;
      cursor: pointer;
      .placeholder{
        padding-left: 15px;
        max-width: 60%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        .inline;
        color: @roxo;
        @media @small{
          max-width: 30%;
        }
      }
      .botao{
        float: right;
        height: 40px;
        line-height: 40px;
        color:#fff;
        background:@roxo;
        border-left: 1px @verde solid;
        font-weight: bold;
        padding: 0 15px;
        transition: all .3s ease-in-out;
      }
      &:hover .botao{
        background: @laranja;
      }
    }
    input[type="file"]{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
  p{
    color:@roxo;
    .asap(14px);
    line-height: 130%;
    margin: 10px 0;
  }
  input[type="text"]{
    width: 100%;
    box-sizing: border-box;
    display: block;
    height: 40px;
    line-height: 40px;
    border: 1px @roxo solid;
    margin-bottom: 10px;
    padding: 0 15px;
    color:@roxo;
    .placeholder(@cinza);
    .asap(16px);
  }
  label.terms{
    color:@roxo;
    display: block;
    margin-bottom: 10px;
    .asap(16px);
    height: 40px;
    line-height: 40px;
    width: 100%;
    box-sizing: border-box;
  }
  input[type="submit"]{
    cursor: pointer;
    border: 1px @roxo solid;
    height: 60px;
    line-height: 60px;
    .montserrat(20px, bold);
    text-align: center;
    color:#fff;
    transition: all .3s ease-in-out;
    background: @laranja;
    width: 100%;
    &:hover{
      color:#fff;
      background: @roxo;
    }
  }
}

.alerta{
  display: block;
  text-align: center;
  line-height: 140%;
  .asap(16px);
  margin: 20px 0;
  padding: 15px;
  &.alerta-erro{
    background: @vermelho;
    color: #fff;
  }
  &.alerta-sucesso{
    background: @verde_claro;
    color: #fff;
  }
}
