.conteudo-home{
  text-align: center;
  .box-home{
    p{
      color:@roxo;
      .asap(18px);
      width: 100%;
      display: block;
      margin: 0 auto 20px auto;
      max-width: 680px;
      line-height: 180%;
    }
    .link-bula{
      display: inline-block;
      margin: 30px auto 0 auto;
      border: 1px @roxo-claro solid;
      height: 60px;
      line-height: 60px;
      padding: 0 40px;
      color: @laranja;
      .asap(16px);
      transition: all .3s ease-in;
      &:hover{
        background:@roxo;
      }
      @media @small{
        height: auto;
        padding: 20px 0;
        width: 100%;
        line-height: 100%;
      }
    }
  }
}

.conteudo-regulamento{
  .centralizar{
    max-width: 800px;
  }
  .asap(16px);
  color:@roxo;
  h2{
    font-weight: bold;
    display: block;
    margin: 10px 0 25px 0;
  }
  h3{
    font-weight: bold;
  }
  p{
    line-height: 150%;
    margin: 20px 0;
  }
  strong{
    font-weight: bold;
  }
  .sublinhado{
    text-decoration: underline;
  }
  .box{
    margin: 15px 0;
    padding: 0 15px;
    border:1px @roxo solid;
  }
  .link-voltar{
    display: block;
    padding: 0 0 15px 0;
    border-bottom: 1px @roxo-claro solid;
    margin-bottom: 15px;
    a{

    }
  }
  a{
    text-decoration: underline;
    color:@azul;
    transition: color .3s ease-in-out;
    &:active, &:visited{color:@azul;}
    &:hover{color:@verde;}
  }
  i{
    font-style: italic;
  }
  ul{list-style-type: disc;}
  ol{list-style-type: decimal;}
  ul, ol{
    line-height: 150%;
    margin: 20px 0;
    list-style-position: inside;
    li{
      margin: 10px 0;
      ul{
        padding-left: 30px;
      }
    }
  }
}

.conteudo-cronograma{
  h1{
    color: @roxo;
    .montserrat(48px, bold);
    font-weight: bold;
    @media @small{
      font-size: 28px;
    }
  }
  img{
    display: block;
    margin-top: 30px;
    @media @small{
      margin: 30px auto;
      max-width: 30%;
    }
  }
  .lista-cronograma{
    li{
      padding: 17px 0 17px 240px;
      position: relative;
      strong{
        .montserrat(22px, bold);
        color: @laranja;
        display: block;
        line-height: 130%;
      }
      span{
        .asap(18px);
        color: @roxo;
        display: block;
        line-height: 130%;
        margin-top: 5px;
      }
      &.ativo{
        background: @laranja;
        strong{
          color: #fff;
        }
        span{
          color: #fff;
        }
      }
      &.ativo:before{
        content: "FASE ATUAL";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        color: @laranja;
        background: @roxo;
        line-height: 93px;
        width: 170px;
        text-align: center;
        .montserrat(16px, bold);
      }
      &.ativo:after{
        content:"";
        position: absolute;
        top: 50%;
        left: 170px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 0 15px 14px;
        border-color: transparent transparent transparent @roxo;
        transform: translateY(-50%);
      }
      @media @small{
        padding: 17px 0 17px 120px;
        &.ativo:before{
          box-sizing: border-box;
          padding-top: 35px;
          font-size: 12px;
          width: 90px;
          line-height: 100%;
        }
        &.ativo:after{
          left: 90px;
        }
      }
    }
  }
}

.conteudo-avaliadores{
  h1{
    color: @roxo;
    .montserrat(48px);
    font-weight: bold;
    @media @small{
      font-size: 28px;
    }
  }
  img{
    display: block;
    margin-top: 30px;
    @media @small{
      margin: 30px auto;
    }
  }
  .lista-avaliadores{
    padding-left: 100px;
    @media @small{
      padding-left: 0px;
    }
    h3{
      .montserrat(22px, bold);
      color:@roxo;
      display: block;
    }
    h4{
      margin-top: 10px;
      .montserrat(16px);
      color:@roxo;
      display: block;      
    }
    p{
      line-height: 140%;
      .asap(18px);
      color:@roxo;
      display: block;
      margin: 10px 0 30px 0;
    }
  }
}

.mini-bula{
  padding-top: 30px;
  border-top: 1px @roxo solid;
  max-width: 60%;
  margin: 30px auto 0 auto;
  h3{
    .asap(16px);
    color: @roxo;
    font-weight: bold;
  }
  p{
    font-size: 14px;
  }
}
