.conteudo-como-funciona{
    .como-funciona-item{
        padding: 40px 0;
        border-top: 2px @laranja solid;
        &:first-child{
            border-top: none;
        }
        h1{
            color: @roxo;
            .montserrat(48px);
            font-weight: bold;
            position: relative;
            display: block;
            line-height: 130%;
            span{
                position: relative;
                &:after{
                    position: absolute;
                    left: 100%;
                    bottom: 10px;
                    content: "";
                    display: block;
                    width: 74px;
                    height: 121px;
                    background: url('/images/oquee.png') left bottom no-repeat;
                }
            }
            @media @small{
                font-size: 30px;
            }
        }
        img{
            display: block;
            margin-top: 30px;
            @media @small{
                margin: 30px auto;
                max-width: 30%;
            }
        }
        h2{
            color: @laranja;
            .montserrat(24px, bold);
        }
        h3{
            margin: 10px 0;
            color: @roxo;
            .asap(18px, bold);
        }
        p{
            
            line-height: 140%;
            .asap(18px);
            color: @roxo;
            display: block;
            margin: 10px 0 30px 0;
            strong{
                font-weight: bold;
            }
            @media @small{
                margin: 10px 0;
            }
        }
        h2, h3, p, ul{
            padding-left: 70px;
            @media @small{
                padding-left: 0px;
            }
        }
        .lista-cronograma{
            li{
                padding: 17px 0;
                position: relative;
                strong{
                  .montserrat(22px, bold);
                  color: @laranja;
                  display: block;
                  line-height: 130%;
                }
                span{
                  .asap(16px);
                  color: @roxo;
                  display: block;
                  line-height: 130%;
                  margin-top: 5px;
                }
            }
        }        
    }
    a{
        border-radius: 15px;
        .montserrat(22px, bold);
        height: 145px;
        line-height: 145px;
        display: block;
        margin: 30px 0;
        background: @laranja;
        text-align: center;
        color:#fff;
        transition: all .3s ease-in;
        &:active, &:visited{color:#fff;}
        &:hover{
            background: @roxo;
        }
        @media @small{
            height: auto;
            line-height: 140%;
            padding: 30px 10px;
        }
    }
}