[v-cloak] {
  display: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.faixa-usuario{
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	height: 35px;
	font-size: 0;	
	.btn{
		background-color:@laranja;
		color:#fff;
		&:active, &:visited{color:#fff;}
		&.active, &:hover{color:@roxo;}
	}
  .nome{
		color:#fff;
		.asap(16px);
		height: 35px;
		line-height: 35px;
		float:right;
		padding: 0 20px;
		text-transform: uppercase;
    @media @small{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
			max-width: 70%;
			float: left;
      box-sizing: border-box;
    }
	}
	.btn{
		.asap(15px, bold);
		height: 35px;
		line-height: 35px;
		float:right;
		transition: all .3s ease-out;
		padding: 0 10px;
    @media @small{
      max-width: 20%;
      box-sizing: border-box;
		}
		&.btn-usuarios{
			border-left: 1px @roxo solid;			
		}
	}
	@media @small{
		background: @roxo;
		position: relative;
	}	
}

header{
	.banner{
		img{
			display: block;
			margin: 0 auto;
			max-width: 100%;
		}
	}
}

nav{
	background: @laranja;
	border-bottom: 1px @roxo solid;
	ul{
		font-size: 0;		
		li{
			.inline;
			@media @small{
        width: 100%;
      }
			a{
				height: 40px;
				line-height: 40px;
				padding: 0 46px;
				color:#fff;
				transition: all .3s ease-in-out;
				.asap(16px, bold);
				display: block;
				font-weight: bold;
				font-size: 16px;
				text-align: center;
				background: @laranja;
				border-left: 1px @roxo solid;
        &:active, &:visited{color:#fff;}
				&:hover, &.ativo{
					background: @roxo;
				}
				@media @small{
					border: none;
				}
			}
			&:last-child{
				border-right: 1px @roxo solid;        
				@media @small{
					border: none;
				}
			}
		}
		&.menu-avaliador{
			li{
				box-sizing: border-box;
				width: 25%;
				a{
					padding: 0;
				}
				@media @small{
					width: 100%;
				}
			}
		}
		&.menu-admin{
			li{
				box-sizing: border-box;
				width: 25%;
				a{
					padding: 8px 0;
					position: relative;
					span{
						position: absolute;
						top: 50%;
						left: 0;
						width: 100%;
						line-height: 120%;
						transform: translateY(-50%);
					}
				}
			}
			@media @small{
				li{
					width: 100%;
					a{
						height: auto;
						line-height: 120%;
						span{
							position: relative;
							text-align: center;
							transform: none;
							top: auto;
							left: auto;							
						}
					}
				}
      }
		}
	}
}

.conteudo{
	padding: 60px 0;
}

footer{
	padding: 20px 0 30px 0;
	border-top: 2px @laranja solid;
	font-size: 0;
	.bloco-footer{
		display: inline-block;
		vertical-align: top;
		width: 25%;
		&.bloco-infomec{
			width: 20%;
		}
		&.bloco-disclaimer{
			width: 30%;
			p{
				padding-right: 32px;
				padding-top: 15px;
				font-size: 9px;
				color: #000;
			}
		}
		&.bloco-novartis{
			padding-left: 20px;
			box-sizing: border-box;
			img{
				display: block;
				margin-bottom: 30px;
			}
			p{
				color: #000;
				font-size: 10px;
			}
		}
	}
	img{
		display: block;
		max-width: 100%;
	}

	@media @small{
		.bloco-footer{
			width: 100%;
			&.bloco-infomec,
			&.bloco-disclaimer{
				width: 100%;
				p{
					text-align: center;
					padding-left: 0;
					padding-right: 0;
				}
			}
			img{
				max-width: 60%;
				display: block;
				margin: 10px auto;
			}
			&.bloco-novartis{
				padding-left: 0;
				p{
					text-align: center;
					padding-left: 0;
					padding-right: 0;
					margin-bottom: 15px;
				}
			}
			&.bloco-termos{
				p{
					text-align: center;
				}
			}
		}
	}

	p{
		display: block;
		text-align: left;		
		line-height: 150%;
		.asap(12px);
		a{
			color: #000;
			font-weight: bold;
			transition: all .3s ease-in-out;
			&:active, &:visited{color: #000;}
			&:hover{color:@roxo;}
		}
	}
}

.centralizar{
	margin: 0 auto;
	width: 100%;
  position: relative;
  box-sizing: border-box;
  max-width: 1220px;
  padding: 0 10px;
  &.com-colunas{
    font-size: 0;
  }
	&.reduzido{
		max-width: 850px;
	}
	@media @small{
    max-width: 620px;
  }
  @media @medium{
    max-width: 920px;
  }
  .coluna{
    .inline;
    box-sizing: border-box;
		&.coluna-50{
			width: 50%;
			@media @small{
	      width: 100%;
	    }
		}
    &.coluna-55{
			width: 55%;
			@media @small{
	      width: 100%;
	    }
		}
    &.coluna-45{
			width: 45%;
			@media @small{
	      width: 100%;
	    }
		}
		&.coluna-33{
			width: 33%;
			@media @small{
	      width: 100%;
	    }
		}
		&.coluna-25{
			width: 25%;
			@media @small{
	      width: 50%;
	    }
		}
    &.coluna-16{
      width: 16.66%;
      @media @small{
	      width: 50%;
	    }
		}
		&.coluna-37{
      width: 37%;
      @media @small{
	      width: 100%;
	    }
		}
		&.coluna-63{
      width: 62%;
      @media @small{
	      width: 100%;
	    }
    }
  }
}
