@mini	: ~"(min-width: 0px) and (max-width: 425px)";
@small	: ~"(min-width: 0px) and (max-width: 789px)";
@medium : ~"(min-width: 790px) and (max-width: 1199px)";
@large  : ~"(min-width: 1200px)";

@vermelho:#E55370;
@verde_claro:#7CCAAF;
@verde:#277F8D;
@cinza:#757876;
@azul_claro:#E4F2EB;
@cinza_escuro:#4D4D4D;
@cinza_claro:#E6E6E6;
@musgo:#79827E;
@azul:#080F5D;

@roxo:#593258;
@laranja:#F49228;
@roxo-claro: #967E96;
@roxo-light: #EDEBF0;
@marrom:#8A2B0B;

.asap(@fsize: 12px, @fweight: normal){
	font-family: 'Asap', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.montserrat(@fsize: 12px, @fweight: normal){
	font-family: 'Montserrat', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

strong{font-weight: bold;}
a{text-decoration: none;}

.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}

.inline{
	display: inline-block;
	vertical-align:top;
	zoom: 1;
}
